working_agent_template.json
{"updatedAt":"2026-01-20T13:13:10.000Z","createdAt":"2026-01-12T11:54:31.366Z","id":"I2jXBeuDzprV5YlX","name":"CRA| Social media Agent","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"social_media_scheduler","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1472,-640],"id":"79dc30e6-5302-48f2-83c3-a8b1ddfec6fb","name":"Webhook","webhookId":"0a00f70b-e67b-470f-9471-da20f70968b3"},{"parameters":{"promptType":"define","text":"={{ $('Webhook').item.json.body.user_mssg }}","hasOutputParser":true,"options":{"systemMessage":"=You are Squidgy's Social Media Manager Agent. Your sole purpose is to help users schedule and publish content to their social media accounts (specifically Facebook) using the tools provided.\n\n## 🧠 YOUR CAPABILITIES\nYou can schedule the following types of content:\n1. **Facebook Text Posts** (Feed)\n2. **Facebook Image Posts** (Feed)\n3. **Facebook Video Posts** (Feed)\n4. **Facebook Stories** (Image or Video)\n\n## 🛠️ TOOL USAGE PROTOCOL (CRITICAL)\nYou must follow this logical flow for every request:\n\n### 1. IDENTIFY ACCOUNT\nBefore scheduling anything, you must know which account to post to.\n- **Action:** Always use the `Get Available accounts` tool first to retrieve the user's connected social media accounts and their IDs.\n- **Context:** You need the `accountId` and `userId` to successfully use the posting tools.\n\n### 2. GATHER REQUIREMENTS\nTo schedule a post, you strictly need:\n- **Content Type:** (Text, Image, Video, or Story?)\n- **Caption/Summary:** What should the text say?\n- **Date & Time:** When should it go out? (Must be converted to ISO format)\n- **Media URL:** (REQUIRED for Images/Videos) Direct link to the file.\n\n**❌ IF INFORMATION IS MISSING:**\n- If the user says \"Post an image\" but provides no URL, ask: \"Please provide the direct URL for the image you'd like to post.\"\n- If the user says \"Schedule for tomorrow\" but gives no time, ask: \"What time would you like that scheduled for?\"\n\n### 3. SELECT THE CORRECT TOOL\nMatch the user's request to the specific tool:\n- **Text Only:** Use `Facebook Text Post \"The Ai Team\"`\n- **Image to Feed:** Use `Facebook Image Post`\n- **Video to Feed:** Use `Facebook Video Post \"The Ai Team\"`\n- **Image Story:** Use `Facebook Image Story Post \"The Ai Team\"`\n- **Video Story:** Use `Facebook Image Story Post \"The Ai Team\"` (Note: Check tool definition, usually stories handle both or have specific tools).\n\n### 4. DATE FORMATTING\n- The tools require the `scheduleDate` in strict **ISO 8601 format** (e.g., `2026-01-20T14:30:00Z`).\n- Convert natural language (e.g., \"Next Tuesday at 4pm\") to this format relative to the current time.\n\n## 💬 CONVERSATION STYLE\n- **Professional & Efficient:** You are an execution tool. Keep chatter minimal.\n- **Confirmation:** After calling a tool, confirm to the user: \"✅ I have scheduled your [type] post for [Date/Time].\"\n- **Error Handling:** If a tool fails or you cannot find an account, explain the issue clearly.\n\n## ⛔ RESTRICTIONS\n- **DO NOT** use the old onboarding JSON format.\n- **DO NOT** ask about brand voice, target audience, or company values. You are here to execute tasks, not strategize.\n- **DO NOT** hallucinate media URLs. If the user didn't give you a link, you cannot post an image.\n\n## EXAMPLE INTERACTIONS\n\n**User:** \"Schedule a text post saying 'Hello World' for tomorrow at 9am.\"\n**You:** (Thought: I need the account ID first.) *Calls `Get Available accounts`* -> *Calls `Facebook Text Post` with date 2026-01-20T09:00:00Z*\n\n\n\nhere is the location id \n**You:** \"✅ Done! Your text post has been scheduled for tomorrow at 9:00 AM.\"\n\n**User:** \"Post this image to my story.\"\n**You:** \"I can do that, but I need the URL of the image you want to post. Please share the link.\"\n\n**User:** \"Post this image: https://example.com/image.png\"\n**You:** \"Great. What caption would you like with that, and when should I schedule it?\"\n\n\nhere is the location id {{ $json.ghl_location_id }}\n\n\nwhen returning images please write the name of the image with the image url please\n\ndo not use emojis!\n\nIf theres media to be used (youre given a url uuse the image or video please dont use the text only tool)","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-656,-640],"id":"42e615e5-5b77-4bcc-9b01-d356cf742f93","name":"PA AI Agent"},{"parameters":{"content":"# Website Tool","height":468,"width":872,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-256,-224],"typeVersion":1,"id":"91a0a413-296e-4de8-8588-dadfa051df28","name":"Sticky Note11"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-944,-288],"id":"f95ce128-5a93-450d-8d46-870682f16341","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"xeFNBBSMiFQf7cQv","name":"OpenAi account"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"agent_name\": \"{{ $('Webhook').item.json.body.agent_name }}\",\n  \"timestamp_of_call_made\": \"{{ $json.timestamp_of_call_made }}\",\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"agent_response\": {{ JSON.stringify($json.agent_response.replace(/\"/g, '\\\\\"')) }}\n}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[144,-848],"id":"3c5a8dfb-6e6a-4d25-a6bc-49308c395efb","name":"Respond to Webhook2"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"company_name\": {\n      \"type\": \"string\"\n    },\n    \"website_url\": {\n      \"type\": \"string\"\n    },\n    \"contact_information\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"emails\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"phones\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"addresses\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        }\n      }\n    },\n    \"description\": {\n      \"type\": \"string\"\n    },\n    \"tags\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"takeaways\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"niche\": {\n      \"type\": \"string\"\n    },\n    \"screenshot_url\": {\n      \"type\": \"string\"\n    },\n    \"favicon_url\": {\n      \"type\": \"string\"\n    }\n  }\n}\n","autoFix":true,"customizeRetryPrompt":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-608,-256],"id":"14cdac82-b68a-461b-88fd-ab5f1a4cd7d7","name":"Structured Output Parser1","disabled":true},{"parameters":{"model":"anthropic/claude-3-haiku","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-640,-16],"id":"36d5a86f-5ed6-47af-8612-c93e525485da","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"SGyQXqnw3yrHZivM","name":"Squidgy Content Repurposing"}},"disabled":true},{"parameters":{"jsCode":"const aiOutput = $input.item.json;\n\n// --- 1. EXTRACT AND PARSE THE OUTPUT ---\nconst aiResponseText = aiOutput.output || aiOutput.text || aiOutput;\nlet parsedOutput;\nlet userMessage;\nlet finished = false;\nlet agentData = null;\n\ntry {\n  // Remove markdown code fences if present\n  let cleanedText = aiResponseText.trim();\n  \n  if (cleanedText.startsWith('```json')) {\n    cleanedText = cleanedText.replace(/^```json\\s*\\n?/, '').replace(/\\n?```\\s*$/, '');\n  } else if (cleanedText.startsWith('```')) {\n    cleanedText = cleanedText.replace(/^```\\s*\\n?/, '').replace(/\\n?```\\s*$/, '');\n  }\n  \n  const firstParse = JSON.parse(cleanedText);\n  parsedOutput = firstParse;\n  \n  userMessage = firstParse.message || aiResponseText;\n  finished = firstParse.finished || false;\n  agentData = firstParse.agent_data || null;\n  \n} catch (e) {\n  userMessage = aiResponseText;\n  console.error('Parse error:', e.message);\n}\n\n// --- 2. CALCULATE TOKENS ---\nlet totalInput = 0;\nlet totalOutput = 0;\nlet totalCombined = 0;\n\nfunction addUsage(u) {\n  if (!u) return;\n  totalInput += (u.prompt_tokens || u.input_tokens || 0);\n  totalOutput += (u.completion_tokens || u.output_tokens || 0);\n  totalCombined += (u.total_tokens || 0);\n}\n\n// Top-level usage\naddUsage(aiOutput.tokenUsage);\n\n// Intermediate steps\nif (aiOutput.intermediateSteps && Array.isArray(aiOutput.intermediateSteps)) {\n  aiOutput.intermediateSteps.forEach(step => {\n    const logs = step.action?.messageLog || [];\n    logs.forEach(log => {\n      addUsage(log.kwargs?.usage_metadata); \n      addUsage(log.kwargs?.response_metadata?.usage); \n      addUsage(log.kwargs?.additional_kwargs?.usage);\n    });\n  });\n}\n\n// --- 3. BUILD THE RETURN OBJECT ---\nreturn {\n  json: {\n    // Context (UPDATED)\n    user_id: $('Webhook').first().json.body.user_id,\n    user_mssg: $('Webhook').first().json.body.user_mssg,\n    session_id: $('Webhook').first().json.body.session_id,\n    timestamp_of_call_made: $('Webhook').first().json.body.timestamp_of_call_made,\n    request_id: $('Webhook').first().json.body.request_id,\n    \n    // The Message (cleaned)\n    agent_response: userMessage.trim(),\n    \n    // Parsed values\n    finished: finished,\n    agent_data: agentData,\n    \n    // Token Usage\n    usage_metadata: {\n      input_tokens: totalInput,\n      output_tokens: totalOutput,\n      total_tokens: totalCombined\n    },\n    \n    // Raw Steps (for Tool Logger)\n    intermediateSteps: aiOutput.intermediateSteps || []\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,-848],"id":"53f92b4a-5aa3-4e66-8758-94d90914c471","name":"Code1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.session_id }}","contextWindowLength":"=5"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-800,-288],"id":"dc0c11e9-9ce8-4032-86cf-fe9b354366a1","name":"Simple Memory"},{"parameters":{"tableId":"User_Tool Usage","fieldsUi":{"fieldValues":[{"fieldId":"Tool Used","fieldValue":"={{ $json.tool_name }}"},{"fieldId":"User Id","fieldValue":"={{ $('Webhook').item.json.body.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[848,-944],"id":"df9271ac-4c59-4d47-bce3-49930c6e1768","name":"Write in Tool Log","credentials":{"supabaseApi":{"id":"uk8y8Aw346FSXNbw","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a79d1f1-c2cd-437b-86ed-536d1d18829b","leftValue":"={{ $json.tool_name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,-928],"id":"0e5f1ca1-a91a-410d-8c2b-d65616a840c0","name":"If1"},{"parameters":{"jsCode":"// 1. Get the data passed down from Code1\nconst inputData = $input.first().json;\nconst steps = inputData.intermediateSteps || [];\n\nconst returnItems = [];\n\n// 2. Loop through all steps to find tools\nsteps.forEach((step) => {\n  // Check if this step has a tool action\n  if (step.action && step.action.tool) {\n    returnItems.push({\n      json: {\n        // --- The Tool Data ---\n        tool_name: step.action.tool,\n        tool_args: step.action.toolInput,\n        tool_output: step.observation,\n\n        // --- Keep the Context for Supabase ---\n        user_id: inputData.user_id,\n        session_id: inputData.session_id,\n        request_id: inputData.request_id\n      }\n    });\n  }\n});\n\n// 3. Return separate items \n// (n8n will automatically run the next node once for each tool found)\n// (If array is empty, the flow stops here automatically)\nreturn returnItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-896],"id":"1d6bf9ef-8985-413b-a0e6-86ff5ab854bd","name":"Code in JavaScript1"},{"parameters":{"method":"POST","url":"https://n8n.theaiteam.uk/webhook/7ffba8da-d247-43a1-a092-aa5b7a517ff1","sendBody":true,"bodyParameters":{"parameters":[{"name":"execution.id","value":"={{$execution.id}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[400,-768],"id":"a7dcde29-727e-450b-8b05-3402d0b7ec05","name":"HTTP Request2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-368,288],"id":"9cda6b77-e1e2-4101-aeb2-7f5a24d5d192","name":"Respond to Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"853cd102-cd29-4cac-9efb-6c73c7c8f0ba","leftValue":"={{ $json.body.facebookPostDetails.type }}","rightValue":"post","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-864,384],"id":"144c3132-ea47-438a-a0e7-e7aa9926d300","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-368,448],"id":"1199841f-3a9e-4b59-8357-79c02bc3e3e8","name":"Respond to Webhook1"},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/social-media-posting/9U9wNXb2nRyJBguu9K57/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pit-f1e41a3a-454f-445e-ac75-b30f896debca"},{"name":"Accept","value":"application/json"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"userId\": \"{{ $json.body.userId }}\",\n  \"type\": \"post\",\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.body.scheduleDate }}\",\n  \"accountIds\": [\n    \"{{ $json.body.accountIds[0] }}\"\n  ],\n  \"media\": [\n    {\n      \"url\": \"{{ $json.body.Url_of_the_Media }}\",\n      \"caption\": \"{{ $json.body.Caption }}\",\n      \"type\": \"{{ $json.body.media_type }}\"\n    }\n  ],\n  \"instagramPostDetails\": {\n    \"type\": \"{{ $json.body.instagramPostDetails.type }}\"\n  },\n  \"summary\": {{ JSON.stringify($json.body.summary) }}\n} ","options":{}},"id":"f5030506-a7ae-41fe-bf38-f86f1fe37733","name":"Facebook Post - The Ai Team5","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-608,640],"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-368,640],"id":"d933f36d-b6c9-4fab-90fb-596ae7b2d74d","name":"Respond to Webhook4","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"853cd102-cd29-4cac-9efb-6c73c7c8f0ba","leftValue":"={{ $json.body.instagramPostDetails.type }}","rightValue":"post","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-864,736],"id":"cb699ab7-bcec-4654-bd69-475203279088","name":"If2","disabled":true},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/social-media-posting/9U9wNXb2nRyJBguu9K57/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pit-f1e41a3a-454f-445e-ac75-b30f896debca"},{"name":"Accept","value":"application/json"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"userId\": \"{{ $json.body.userId }}\",\n  \"type\": \"story\",\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.body.scheduleDate }}\",\n  \"accountIds\": [\n    \"{{ $json.body.accountIds[0] }}\"\n  ],\n  \"media\": [\n    {\n      \"url\": \"{{ $json.body.Url_of_the_Media }}\",\n      \"caption\": \"{{ $json.body.Caption }}\",\n      \"type\": \"{{ $json.body.media_type }}\"\n    }\n  ],\n  \"instagramPostDetails\": {\n    \"type\": \"{{ $json.body.instagramPostDetails.type }}\"\n  }\n} ","options":{}},"id":"48d0eec1-29c1-4800-b1c9-d5c94c0ed455","name":"Facebook Post - The Ai Team6","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-608,800],"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-368,800],"id":"1dd9b926-cfd9-4ea1-a581-76d941f50ef2","name":"Respond to Webhook5","disabled":true},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/social-media-posting/9U9wNXb2nRyJBguu9K57/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pit-f1e41a3a-454f-445e-ac75-b30f896debca"},{"name":"Accept","value":"application/json"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"userId\": \"{{ $json.body.userId }}\",\n  \"type\": \"post\",\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.body.scheduleDate }}\",\n  \"accountIds\": [\n    \"{{ $json.body.accountIds[0] }}\"\n  ],\n  \"media\": [\n    {\n      \"url\": \"{{ $json.body.Url_of_the_Media }}\",\n      \"caption\": \"{{ $json.body.Caption }}\",\n      \"type\": \"{{ $json.body.media_type }}\"\n    }\n  ],\n  \"linkedinPostDetails\": {\n    \"postAsPdf\": false\n  },\n  \"summary\": {{ JSON.stringify($json.body.summary) }}\n} ","options":{}},"id":"d50e517c-19da-4885-875f-963b11fdd936","name":"Facebook Post - The Ai Team7","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-608,960],"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-368,960],"id":"70da7d48-87e7-4f12-8cea-060ea920c7b0","name":"Respond to Webhook6","disabled":true},{"parameters":{"httpMethod":"POST","path":"Squidgy/FacebookAgent","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1200,384],"id":"5281f534-5e3c-4714-aa6b-f7e50086e52e","name":"Facebook","webhookId":"5d3b0b9f-6229-411d-9f9c-81cfc5c13fe3"},{"parameters":{"httpMethod":"POST","path":"Instagram/TheAiTeam&SethWard","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1072,736],"id":"4c9e1f7c-bf2e-4f7f-bbd9-cdb6e9383f65","name":"Instagram","webhookId":"5d3b0b9f-6229-411d-9f9c-81cfc5c13fe3","disabled":true},{"parameters":{"httpMethod":"POST","path":"LinkedIn/TheAiTeam&SethWard","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1072,960],"id":"5560dd79-df10-424a-972f-ab9211c62f32","name":"LinkedIn","webhookId":"5d3b0b9f-6229-411d-9f9c-81cfc5c13fe3","disabled":true},{"parameters":{"toolDescription":"Makes an HTTP request and gets the account information needed for the next steps. \n\nMUST BE DONE BEFORE SCHEDULING POSTS","url":"=https://services.leadconnectorhq.com/social-media-posting/{{ $('Get a row').item.json.ghl_location_id }}/accounts ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('Get a row').item.json.PIT_Token }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-528,-16],"id":"68ee199c-7d37-4146-9ee3-e72fb68140d6","name":"Get Available accounts"},{"parameters":{"operation":"get","tableId":"ghl_subaccounts","filters":{"conditions":[{"keyName":"firm_user_id","keyValue":"={{ $json.body.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1216,-640],"id":"ec987909-1f62-4b25-8730-05830e56a339","name":"Get a row","credentials":{"supabaseApi":{"id":"uk8y8Aw346FSXNbw","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1744,-256],"id":"bd419a2e-8abb-475b-9580-2419bc06d8f2","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"=https://services.leadconnectorhq.com/social-media-posting/{{ $json.ghl_location_id }}/accounts ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $json.PIT_Token }}"},{"name":"Version","value":"2021-07-28"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1008,-480],"id":"556d3517-aaef-430f-a87f-16240de922e0","name":"HTTP Request"},{"parameters":{"operation":"get","tableId":"profiles","filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $json.body.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2048,-496],"id":"79cda3d6-28f4-4725-b573-c463ae988631","name":"Get a row1","credentials":{"supabaseApi":{"id":"uk8y8Aw346FSXNbw","name":"Supabase account"}}},{"parameters":{"toolDescription":"Make an image post on Facebook for account ","method":"POST","url":"https://n8n.theaiteam.uk/webhook/Squidgy/FacebookAgent","sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `the user ID fro the account`, 'string') }}"},{"name":"type","value":"post"},{"name":"summary","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Write the Facebook caption`, 'string') }}"},{"name":"status","value":"scheduled"},{"name":"scheduleDate","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `ISO datetime like 2026-01-03T16:00:00Z`, 'string') }}"},{"name":"accountIds","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `the account id String for the account`, 'string') }}"},{"name":"facebookPostDetails","value":"={{ { \"type\": \"post\" } }}"},{"name":"Url_of_the_Media","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `The url of the media \n(Just the string of the url please`, 'string') }}"},{"name":"Caption","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters8_Value', `the caption for the image (string)`, 'string') }}"},{"name":"media_type","value":"image/png"},{"name":"Access Token","value":"=Bearer {{ $('Get a row').item.json.PIT_Token }}"},{"name":"locationid","value":"={{ $('Get a row').item.json.ghl_location_id }}"}]},"options":{}},"id":"eadbd68f-83ec-40cb-a465-1e7c00e8e41c","name":"Facebook Image Post","type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-112,-64]},{"parameters":{"toolDescription":"Make a video story post on Facebook for account \"The Ai Team\"","method":"POST","url":"https://n8n.theaiteam.uk/webhook/Squidgy/Facebook","sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"677e5afa1c118555f049337e"},{"name":"type","value":"story"},{"name":"status","value":"scheduled"},{"name":"scheduleDate","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `ISO datetime like 2026-01-03T16:00:00Z`, 'string') }}"},{"name":"accountIds","value":"={{ [\"677e5afa1c118555f049337e_9U9wNXb2nRyJBguu9K57_354428951089634_page\"] }}"},{"name":"facebookPostDetails","value":"={{ { \"type\": \"story\" } }}"},{"name":"Url_of_the_Media","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `Just the URL of the media (string)`, 'string') }}"},{"name":"Caption","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `the caption of the image `, 'string') }}"},{"name":"media_type","value":"video/mp4"}]},"options":{}},"id":"e726e45b-d49c-4a83-87a6-b3dfc2901381","name":"Facebook Image Story Post \"The Ai Team\"1","type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[576,-64]},{"parameters":{"toolDescription":"Make an image story post on Facebook for account ","method":"POST","url":"https://n8n.theaiteam.uk/webhook/Squidgy/Facebook","sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"677e5afa1c118555f049337e"},{"name":"type","value":"story"},{"name":"status","value":"scheduled"},{"name":"scheduleDate","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `ISO datetime like 2026-01-03T16:00:00Z`, 'string') }}"},{"name":"accountIds","value":"={{ [\"677e5afa1c118555f049337e_9U9wNXb2nRyJBguu9K57_354428951089634_page\"] }}"},{"name":"facebookPostDetails","value":"={{ { \"type\": \"story\" } }}"},{"name":"Url_of_the_Media","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `Just the URL of the media (string)`, 'string') }}"},{"name":"Caption","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `the caption of the image `, 'string') }}"},{"name":"media_type","value":"image/png"}]},"options":{}},"id":"23e3bdd8-49f8-4b59-bc81-b4cb08985876","name":"Facebook Image Story Post \"The Ai Team\"","type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[480,-240]},{"parameters":{"toolDescription":"Make a text-only Facebook post for account \"The Ai Team\"\n\nonly use this for text only if theres an image or video use the other tool","method":"POST","url":"=https://services.leadconnectorhq.com/social-media-posting/{{ $('Get a row').item.json.ghl_location_id }}/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get a row').item.json.PIT_Token }}"},{"name":"Accept","value":"application/json"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `use the user id from the relevant account use the get accounts tool first if needed`, 'string') }}"},{"name":"type","value":"post"},{"name":"summary","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('summary', 'Write a short Facebook post for The AI Team', 'string') }}"},{"name":"status","value":"scheduled"},{"name":"scheduleDate","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `ISO date like 2026-01-03T16:00:00Z\n\n`, 'string') }}"},{"name":"accountIds","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `use the account id from the relevant account use the get accounts tool first if needed`, 'string') }}"},{"name":"facebookPostDetails","value":"={{ { \"type\": \"post\" } }}"},{"name":"media","value":"={{ [] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[208,-64],"id":"b7661d58-7bf4-427e-bd4b-343165c86b32","name":"Facebook Text Post \"The Ai Team\""},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/social-media-posting/{{ $json.body.locationid }}/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.body[\"Access Token\"] }}"},{"name":"Accept","value":"application/json"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"userId\": \"{{ $json.body.userId }}\",\n  \"type\": \"post\",\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.body.scheduleDate }}\",\n  \"accountIds\": [\n    \"{{ $json.body.accountIds }}\"\n  ],\n  \"media\": [\n    {\n      \"url\": \"{{ $json.body.Url_of_the_Media }}\",\n      \"caption\": \"{{ $json.body.Caption }}\",\n      \"type\": \"{{ $json.body.media_type }}\"\n    }\n  ],\n  \"facebookPostDetails\": {\n    \"type\": \"{{ $json.body.facebookPostDetails.type }}\"\n  },\n  \"summary\": {{ JSON.stringify($json.body.summary) }}\n} ","options":{}},"id":"a848f939-3d2e-4285-bc9f-3e02edd24e35","name":"Facebook Post","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-608,288]},{"parameters":{"toolDescription":"Makes an HTTP request and gets the social media post information needed for the next steps. ","method":"POST","url":"=https://services.leadconnectorhq.com/social-media-posting/{{ $('Get a row').item.json.ghl_location_id }}/posts/list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('Get a row').item.json.PIT_Token }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-432,-16],"id":"7e5b9895-6352-4a41-a5fb-f0ab061eb870","name":"Get Posts"},{"parameters":{"toolDescription":"once the post id of the post we want to delete has been gathered it can be used here to delete said post.","method":"DELETE","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `the url is \n\n\nhttps://services.leadconnectorhq.com/social-media-posting/[the location id]/posts/(THE POST ID GOES HERE)\n\nyou need to use the post id for that post to be deleted \nid will be in this form id\nstring\nrequired\nPost Id\n\nExample: 65fac446d599990d1313c1dd`, 'string') }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('Get a row').item.json.PIT_Token }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-336,-16],"id":"cbed0bfc-1fc6-4f8d-b3cc-f70e64fd9ce1","name":"Delete Post"},{"parameters":{"url":"https://api.unsplash.com/search/photos","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"nature"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Client-ID HLOAvAE2KAkwoqtnqCkQyVxnXWkWuDcTJf0azVXFURY"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1168,-160],"id":"11943a49-4c9e-4820-adbc-37bfe2549ecb","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/social-media-posting/{{ $json.body.locationid }}/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.body[\"Access Token\"] }}"},{"name":"Accept","value":"application/json"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"userId\": \"{{ $json.body.userId }}\",\n  \"type\": \"story\",\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.body.scheduleDate }}\",\n  \"accountIds\": [\n    \"{{ $json.body.accountIds }}\"\n  ],\n  \"media\": [\n    {\n      \"url\": \"{{ $json.body.Url_of_the_Media }}\",\n      \"caption\": \"{{ $json.body.Caption }}\",\n      \"type\": \"{{ $json.body.media_type }}\"\n    }\n  ],\n  \"facebookPostDetails\": {\n    \"type\": \"{{ $json.body.facebookPostDetails.type }}\"\n  }\n} ","options":{}},"id":"8640277f-81fa-41db-92cc-5fa8c60702fd","name":"Facebook Story Post","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-608,448]},{"parameters":{"url":"https://services.leadconnectorhq.com/medias/files","sendQuery":true,"queryParameters":{"parameters":[{"name":"altId","value":"y6s9fyyiisMvJGWdFLzD"},{"name":"altType","value":"location"},{"name":"sortBy","value":"createdAt"},{"name":"sortOrder","value":"asc"},{"name":"type","value":"file"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Version","value":"2021-07-28"},{"name":"Authorization","value":"Bearer pit-911493f6-b2e9-4fde-a8ec-3076784e8ca4"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1520,-304],"id":"068f2d9d-fc88-48eb-b00c-36229fb4e424","name":"HTTP Request3"},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data\n\nreturns the name file type and URL that can be used for the posts\n\nThis will return the urls of media that are in the locations media storage","url":"https://services.leadconnectorhq.com/medias/files","sendQuery":true,"queryParameters":{"parameters":[{"name":"type","value":"file"},{"name":"altType","value":"location"},{"name":"altId","value":"={{ $('Get a row').item.json.ghl_location_id }}"},{"name":"query","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `what it can search for`, 'string') }}"},{"name":"limit","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('Get a row').item.json.PIT_Token }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-816,-16],"id":"3d63b830-da61-4ccc-bfee-7adec1d4e20c","name":"Get File Storage"},{"parameters":{"toolDescription":"Make an image story post on Facebook for account ","method":"POST","url":"https://n8n.theaiteam.uk/webhook/Squidgy/FacebookAgent","sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `the user ID fro the account`, 'string') }}"},{"name":"type","value":"story"},{"name":"status","value":"scheduled"},{"name":"scheduleDate","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `ISO datetime like 2026-01-03T16:00:00Z`, 'string') }}"},{"name":"accountIds","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"},{"name":"facebookPostDetails","value":"={{ { \"type\": \"post\" } }}"},{"name":"Url_of_the_Media","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `The url of the media \n(Just the string of the url please`, 'string') }}"},{"name":"Caption","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters8_Value', `the caption for the image (string)`, 'string') }}"},{"name":"media_type","value":"image/png"},{"name":"Access Token","value":"=Bearer {{ $('Get a row').item.json.PIT_Token }}"},{"name":"locationid","value":"={{ $('Get a row').item.json.ghl_location_id }}"}]},"options":{}},"id":"5816b701-3add-4a5e-84a0-9ee40cbfb490","name":"Facebook Image Story Post","type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[368,-64]},{"parameters":{"toolDescription":"Make a video post on Facebook for account \"The Ai Team\"","method":"POST","url":"https://n8n.theaiteam.uk/webhook/Squidgy/Facebook","sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `the user ID fro the account`, 'string') }}"},{"name":"type","value":"post"},{"name":"summary","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Write the Facebook caption`, 'string') }}"},{"name":"status","value":"scheduled"},{"name":"scheduleDate","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `ISO datetime like 2026-01-03T16:00:00Z`, 'string') }}"},{"name":"accountIds","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `the account id fro the account`, 'string') }}"},{"name":"facebookPostDetails","value":"={{ { \"type\": \"post\" } }}"},{"name":"Url_of_the_Media","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `just the URL of the media please (string)`, 'string') }}"},{"name":"Caption","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters8_Value', `the caption for the media`, 'string') }}"},{"name":"media_type","value":"video/mp4"},{"name":"Access Token","value":"=Bearer {{ $('Get a row').item.json.PIT_Token }}"},{"name":"locationid","value":"={{ $('Get a row').item.json.ghl_location_id }}"}]},"options":{}},"id":"4e0c2ab5-93aa-4a22-a415-9b94f8f4358e","name":"Facebook Video Post","type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[64,-64]}],"connections":{"PA AI Agent":{"main":[[{"node":"Code1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"PA AI Agent","type":"ai_languageModel","index":0}]]},"Respond to Webhook2":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0},{"node":"HTTP Request2","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"PA AI Agent","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"Code1":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"PA AI Agent","type":"ai_memory","index":0}]]},"If1":{"main":[[{"node":"Write in Tool Log","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"If":{"main":[[{"node":"Facebook Post","type":"main","index":0}],[{"node":"Facebook Story Post","type":"main","index":0}]]},"Facebook Post - The Ai Team5":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"If2":{"main":[[{"node":"Facebook Post - The Ai Team5","type":"main","index":0}],[{"node":"Facebook Post - The Ai Team6","type":"main","index":0}]]},"Facebook Post - The Ai Team6":{"main":[[{"node":"Respond to Webhook5","type":"main","index":0}]]},"Facebook Post - The Ai Team7":{"main":[[{"node":"Respond to Webhook6","type":"main","index":0}]]},"Facebook":{"main":[[{"node":"If","type":"main","index":0}]]},"Instagram":{"main":[[{"node":"If2","type":"main","index":0}]]},"LinkedIn":{"main":[[{"node":"Facebook Post - The Ai Team7","type":"main","index":0}]]},"Get Available accounts":{"ai_tool":[[{"node":"PA AI Agent","type":"ai_tool","index":0}]]},"Get a row":{"main":[[{"node":"PA AI Agent","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Facebook Image Post":{"ai_tool":[[{"node":"PA AI Agent","type":"ai_tool","index":0}]]},"Facebook Image Story Post \"The Ai Team\"1":{"ai_tool":[[]]},"Facebook Image Story Post \"The Ai Team\"":{"ai_tool":[[]]},"Facebook Text Post \"The Ai Team\"":{"ai_tool":[[{"node":"PA AI Agent","type":"ai_tool","index":0}]]},"Facebook Post":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get Posts":{"ai_tool":[[{"node":"PA AI Agent","type":"ai_tool","index":0}]]},"Delete Post":{"ai_tool":[[{"node":"PA AI Agent","type":"ai_tool","index":0}]]},"Facebook Story Post":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Get File Storage":{"ai_tool":[[{"node":"PA AI Agent","type":"ai_tool","index":0}]]},"Facebook Image Story Post":{"ai_tool":[[{"node":"PA AI Agent","type":"ai_tool","index":0}]]},"Facebook Video Post":{"ai_tool":[[{"node":"PA AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Instagram":[{"json":{"headers":{"host":"n8n.theaiteam.uk","user-agent":"axios/1.12.0","content-length":"706","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.theaiteam.uk","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"userId":"677e5b25ae8cb619041f58e5","type":"post","summary":"When someone says \"AI is just a fad\" in 2026\n\nMeanwhile, teams using it properly are saving hours every week while the skeptics are still doing everything manually.\n\nDon't be the Grinch of productivity.\n\n#AIProductivity #AIForBusiness #TechHumor #BusinessAutomation #FutureOfWork","status":"scheduled","scheduleDate":"2026-01-12T14:00:00Z","accountIds":["677e5b1e1c11856d8c4933b4_9U9wNXb2nRyJBguu9K57_17841467477489960"],"instagramPostDetails":{"type":"post"},"Url_of_the_Media":"https://storage.googleapis.com/msgsndr/9U9wNXb2nRyJBguu9K57/media/6953c9aac0d4323e6b983219.png","Caption":"Grinch AI skeptic meme","media_type":"image/png"},"webhookUrl":"https://n8n.theaiteam.uk/webhook/Instagram/TheAiTeam","executionMode":"production"}}],"LinkedIn":[{"json":{"headers":{"host":"n8n.theaiteam.uk","user-agent":"axios/1.12.0","content-length":"772","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.theaiteam.uk","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"userId":"677e5afa1c118555f049337e","type":"post","summary":"That moment when you're packing away the last of the Christmas decorations, the tree is gone, and reality starts to sink in.\n\nThe holidays are officially over. No more mince pies, no more lazy mornings, no more \"I'll deal with that in the new year\" excuses.\n\nIt's time to dust off the to-do list and get back to business. Here's to a productive 2026!","status":"scheduled","scheduleDate":"2026-01-24T17:00:00Z","accountIds":["677e5afa1c118555f049337e_9U9wNXb2nRyJBguu9K57_354428951089634_page"],"facebookPostDetails":{"type":"post"},"Url_of_the_Media":"https://storage.googleapis.com/msgsndr/9U9wNXb2nRyJBguu9K57/media/6953c9aac0d4323e6b983219.png","Caption":"Holidays are over","media_type":"image/png"},"webhookUrl":"https://n8n.theaiteam.uk/webhook/Facebook/TheAiTeam","executionMode":"production"}}],"Facebook":[{"json":{"headers":{"host":"n8n.theaiteam.uk","user-agent":"axios/1.12.0","content-length":"638","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.theaiteam.uk","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"userId":"69679fd48b3e9d77de6259c6","type":"post","summary":"When you realize it's Monday again... 😸 #MondayMood #CatMemes","status":"scheduled","scheduleDate":"2026-01-20T09:00:00Z","accountIds":"69679fd48b3e9d77de6259c6_y6s9fyyiisMvJGWdFLzD_706270759232435_page","facebookPostDetails":{"type":"post"},"Url_of_the_Media":"https://www.rd.com/wp-content/uploads/2023/04/Hilarious-Cat-Memes-1.jpg?fit=750%2C750&original_fit=700,700","Caption":"When you realize it's Monday again... 😸 #MondayMood #CatMemes","media_type":"image/png","Access Token":"Bearer pit-911493f6-b2e9-4fde-a8ec-3076784e8ca4","locationid":"y6s9fyyiisMvJGWdFLzD"},"webhookUrl":"https://n8n.theaiteam.uk/webhook/Squidgy/FacebookAgent","executionMode":"production"}}],"Webhook":[{"json":{"headers":{"host":"n8n.theaiteam.uk","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36","content-length":"419","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-GB,en-US;q=0.9,en;q=0.8","content-type":"application/json","origin":"http://127.0.0.1:61021","priority":"u=1, i","referer":"http://127.0.0.1:61021/","sec-ch-ua":"\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"86.164.108.150","x-forwarded-host":"n8n.theaiteam.uk","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"user_id":"55b33685-4481-4289-850e-db21c6f5a8c0","user_mssg":"please make a facebook post using body of water as the image and create your own caption schedule it for the 25th of january 4pm ","session_id":"55b33685-4481-4289-850e-db21c6f5a8c0_social_media_scheduler_1768827160437_y7mygijbufo","agent_name":"social_media_scheduler","timestamp_of_call_made":"2026-01-19T12:54:56.923Z","request_id":"1768827296768-9117"},"webhookUrl":"https://n8n.theaiteam.uk/webhook/social_media_scheduler","executionMode":"production"}}]},"versionId":"3ad4f9da-a818-4b43-bb54-62d9064f4eb4","activeVersionId":"3ad4f9da-a818-4b43-bb54-62d9064f4eb4","versionCounter":7,"triggerCount":2,"shared":[{"updatedAt":"2026-01-12T11:54:31.371Z","createdAt":"2026-01-12T11:54:31.371Z","role":"workflow:owner","workflowId":"I2jXBeuDzprV5YlX","projectId":"2qFbZc2MGPXfvV52","project":{"updatedAt":"2025-04-16T10:25:43.401Z","createdAt":"2025-04-16T10:24:21.980Z","id":"2qFbZc2MGPXfvV52","name":"Seth Ward <seth@theai.team>","type":"personal","icon":null,"description":null,"creatorId":"878bca16-df64-4d79-9f7b-734cf747de33","projectRelations":[{"updatedAt":"2025-04-16T10:24:21.980Z","createdAt":"2025-04-16T10:24:21.980Z","userId":"878bca16-df64-4d79-9f7b-734cf747de33","projectId":"2qFbZc2MGPXfvV52","user":{"updatedAt":"2026-02-21T00:00:21.000Z","createdAt":"2025-04-16T10:24:21.334Z","id":"878bca16-df64-4d79-9f7b-734cf747de33","email":"seth@theai.team","firstName":"Seth","lastName":"Ward","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-16T10:26:03.682Z","personalization_survey_n8n_version":"1.88.0","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"qpmlr9DFPWptKLa2","userActivatedAt":1744801289239,"npsSurvey":{"responded":true,"lastShownAt":1762853642560},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-21","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-06T03:02:41.922Z","createdAt":"2026-02-06T03:02:41.922Z","versionId":"3ad4f9da-a818-4b43-bb54-62d9064f4eb4","workflowId":"I2jXBeuDzprV5YlX","nodes":[{"parameters":{"httpMethod":"POST","path":"social_media_scheduler","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1472,-640],"id":"79dc30e6-5302-48f2-83c3-a8b1ddfec6fb","name":"Webhook","webhookId":"0a00f70b-e67b-470f-9471-da20f70968b3"},{"parameters":{"promptType":"define","text":"={{ $('Webhook').item.json.body.user_mssg }}","hasOutputParser":true,"options":{"systemMessage":"=You are Squidgy's Social Media Manager Agent. Your sole purpose is to help users schedule and publish content to their social media accounts (specifically Facebook) using the tools provided.\n\n## 🧠 YOUR CAPABILITIES\nYou can schedule the following types of content:\n1. **Facebook Text Posts** (Feed)\n2. **Facebook Image Posts** (Feed)\n3. **Facebook Video Posts** (Feed)\n4. **Facebook Stories** (Image or Video)\n\n## 🛠️ TOOL USAGE PROTOCOL (CRITICAL)\nYou must follow this logical flow for every request:\n\n### 1. IDENTIFY ACCOUNT\nBefore scheduling anything, you must know which account to post to.\n- **Action:** Always use the `Get Available accounts` tool first to retrieve the user's connected social media accounts and their IDs.\n- **Context:** You need the `accountId` and `userId` to successfully use the posting tools.\n\n### 2. GATHER REQUIREMENTS\nTo schedule a post, you strictly need:\n- **Content Type:** (Text, Image, Video, or Story?)\n- **Caption/Summary:** What should the text say?\n- **Date & Time:** When should it go out? (Must be converted to ISO format)\n- **Media URL:** (REQUIRED for Images/Videos) Direct link to the file.\n\n**❌ IF INFORMATION IS MISSING:**\n- If the user says \"Post an image\" but provides no URL, ask: \"Please provide the direct URL for the image you'd like to post.\"\n- If the user says \"Schedule for tomorrow\" but gives no time, ask: \"What time would you like that scheduled for?\"\n\n### 3. SELECT THE CORRECT TOOL\nMatch the user's request to the specific tool:\n- **Text Only:** Use `Facebook Text Post \"The Ai Team\"`\n- **Image to Feed:** Use `Facebook Image Post`\n- **Video to Feed:** Use `Facebook Video Post \"The Ai Team\"`\n- **Image Story:** Use `Facebook Image Story Post \"The Ai Team\"`\n- **Video Story:** Use `Facebook Image Story Post \"The Ai Team\"` (Note: Check tool definition, usually stories handle both or have specific tools).\n\n### 4. DATE FORMATTING\n- The tools require the `scheduleDate` in strict **ISO 8601 format** (e.g., `2026-01-20T14:30:00Z`).\n- Convert natural language (e.g., \"Next Tuesday at 4pm\") to this format relative to the current time.\n\n## 💬 CONVERSATION STYLE\n- **Professional & Efficient:** You are an execution tool. Keep chatter minimal.\n- **Confirmation:** After calling a tool, confirm to the user: \"✅ I have scheduled your [type] post for [Date/Time].\"\n- **Error Handling:** If a tool fails or you cannot find an account, explain the issue clearly.\n\n## ⛔ RESTRICTIONS\n- **DO NOT** use the old onboarding JSON format.\n- **DO NOT** ask about brand voice, target audience, or company values. You are here to execute tasks, not strategize.\n- **DO NOT** hallucinate media URLs. If the user didn't give you a link, you cannot post an image.\n\n## EXAMPLE INTERACTIONS\n\n**User:** \"Schedule a text post saying 'Hello World' for tomorrow at 9am.\"\n**You:** (Thought: I need the account ID first.) *Calls `Get Available accounts`* -> *Calls `Facebook Text Post` with date 2026-01-20T09:00:00Z*\n\n\n\nhere is the location id \n**You:** \"✅ Done! Your text post has been scheduled for tomorrow at 9:00 AM.\"\n\n**User:** \"Post this image to my story.\"\n**You:** \"I can do that, but I need the URL of the image you want to post. Please share the link.\"\n\n**User:** \"Post this image: https://example.com/image.png\"\n**You:** \"Great. What caption would you like with that, and when should I schedule it?\"\n\n\nhere is the location id {{ $json.ghl_location_id }}\n\n\nwhen returning images please write the name of the image with the image url please\n\ndo not use emojis!\n\nIf theres media to be used (youre given a url uuse the image or video please dont use the text only tool)","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-656,-640],"id":"42e615e5-5b77-4bcc-9b01-d356cf742f93","name":"PA AI Agent"},{"parameters":{"content":"# Website Tool","height":468,"width":872,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-256,-224],"typeVersion":1,"id":"91a0a413-296e-4de8-8588-dadfa051df28","name":"Sticky Note11"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-944,-288],"id":"f95ce128-5a93-450d-8d46-870682f16341","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"xeFNBBSMiFQf7cQv","name":"OpenAi account"}}},{"parameters":{"respondWith":"json","responseBody":"={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"agent_name\": \"{{ $('Webhook').item.json.body.agent_name }}\",\n  \"timestamp_of_call_made\": \"{{ $json.timestamp_of_call_made }}\",\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"agent_response\": {{ JSON.stringify($json.agent_response.replace(/\"/g, '\\\\\"')) }}\n}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[144,-848],"id":"3c5a8dfb-6e6a-4d25-a6bc-49308c395efb","name":"Respond to Webhook2"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"company_name\": {\n      \"type\": \"string\"\n    },\n    \"website_url\": {\n      \"type\": \"string\"\n    },\n    \"contact_information\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"emails\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"phones\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"addresses\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        }\n      }\n    },\n    \"description\": {\n      \"type\": \"string\"\n    },\n    \"tags\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"takeaways\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"niche\": {\n      \"type\": \"string\"\n    },\n    \"screenshot_url\": {\n      \"type\": \"string\"\n    },\n    \"favicon_url\": {\n      \"type\": \"string\"\n    }\n  }\n}\n","autoFix":true,"customizeRetryPrompt":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-608,-256],"id":"14cdac82-b68a-461b-88fd-ab5f1a4cd7d7","name":"Structured Output Parser1","disabled":true},{"parameters":{"model":"anthropic/claude-3-haiku","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-640,-16],"id":"36d5a86f-5ed6-47af-8612-c93e525485da","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"SGyQXqnw3yrHZivM","name":"Squidgy Content Repurposing"}},"disabled":true},{"parameters":{"jsCode":"const aiOutput = $input.item.json;\n\n// --- 1. EXTRACT AND PARSE THE OUTPUT ---\nconst aiResponseText = aiOutput.output || aiOutput.text || aiOutput;\nlet parsedOutput;\nlet userMessage;\nlet finished = false;\nlet agentData = null;\n\ntry {\n  // Remove markdown code fences if present\n  let cleanedText = aiResponseText.trim();\n  \n  if (cleanedText.startsWith('```json')) {\n    cleanedText = cleanedText.replace(/^```json\\s*\\n?/, '').replace(/\\n?```\\s*$/, '');\n  } else if (cleanedText.startsWith('```')) {\n    cleanedText = cleanedText.replace(/^```\\s*\\n?/, '').replace(/\\n?```\\s*$/, '');\n  }\n  \n  const firstParse = JSON.parse(cleanedText);\n  parsedOutput = firstParse;\n  \n  userMessage = firstParse.message || aiResponseText;\n  finished = firstParse.finished || false;\n  agentData = firstParse.agent_data || null;\n  \n} catch (e) {\n  userMessage = aiResponseText;\n  console.error('Parse error:', e.message);\n}\n\n// --- 2. CALCULATE TOKENS ---\nlet totalInput = 0;\nlet totalOutput = 0;\nlet totalCombined = 0;\n\nfunction addUsage(u) {\n  if (!u) return;\n  totalInput += (u.prompt_tokens || u.input_tokens || 0);\n  totalOutput += (u.completion_tokens || u.output_tokens || 0);\n  totalCombined += (u.total_tokens || 0);\n}\n\n// Top-level usage\naddUsage(aiOutput.tokenUsage);\n\n// Intermediate steps\nif (aiOutput.intermediateSteps && Array.isArray(aiOutput.intermediateSteps)) {\n  aiOutput.intermediateSteps.forEach(step => {\n    const logs = step.action?.messageLog || [];\n    logs.forEach(log => {\n      addUsage(log.kwargs?.usage_metadata); \n      addUsage(log.kwargs?.response_metadata?.usage); \n      addUsage(log.kwargs?.additional_kwargs?.usage);\n    });\n  });\n}\n\n// --- 3. BUILD THE RETURN OBJECT ---\nreturn {\n  json: {\n    // Context (UPDATED)\n    user_id: $('Webhook').first().json.body.user_id,\n    user_mssg: $('Webhook').first().json.body.user_mssg,\n    session_id: $('Webhook').first().json.body.session_id,\n    timestamp_of_call_made: $('Webhook').first().json.body.timestamp_of_call_made,\n    request_id: $('Webhook').first().json.body.request_id,\n    \n    // The Message (cleaned)\n    agent_response: userMessage.trim(),\n    \n    // Parsed values\n    finished: finished,\n    agent_data: agentData,\n    \n    // Token Usage\n    usage_metadata: {\n      input_tokens: totalInput,\n      output_tokens: totalOutput,\n      total_tokens: totalCombined\n    },\n    \n    // Raw Steps (for Tool Logger)\n    intermediateSteps: aiOutput.intermediateSteps || []\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,-848],"id":"53f92b4a-5aa3-4e66-8758-94d90914c471","name":"Code1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.session_id }}","contextWindowLength":"=5"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-800,-288],"id":"dc0c11e9-9ce8-4032-86cf-fe9b354366a1","name":"Simple Memory"},{"parameters":{"tableId":"User_Tool Usage","fieldsUi":{"fieldValues":[{"fieldId":"Tool Used","fieldValue":"={{ $json.tool_name }}"},{"fieldId":"User Id","fieldValue":"={{ $('Webhook').item.json.body.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[848,-944],"id":"df9271ac-4c59-4d47-bce3-49930c6e1768","name":"Write in Tool Log","credentials":{"supabaseApi":{"id":"uk8y8Aw346FSXNbw","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a79d1f1-c2cd-437b-86ed-536d1d18829b","leftValue":"={{ $json.tool_name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[608,-928],"id":"0e5f1ca1-a91a-410d-8c2b-d65616a840c0","name":"If1"},{"parameters":{"jsCode":"// 1. Get the data passed down from Code1\nconst inputData = $input.first().json;\nconst steps = inputData.intermediateSteps || [];\n\nconst returnItems = [];\n\n// 2. Loop through all steps to find tools\nsteps.forEach((step) => {\n  // Check if this step has a tool action\n  if (step.action && step.action.tool) {\n    returnItems.push({\n      json: {\n        // --- The Tool Data ---\n        tool_name: step.action.tool,\n        tool_args: step.action.toolInput,\n        tool_output: step.observation,\n\n        // --- Keep the Context for Supabase ---\n        user_id: inputData.user_id,\n        session_id: inputData.session_id,\n        request_id: inputData.request_id\n      }\n    });\n  }\n});\n\n// 3. Return separate items \n// (n8n will automatically run the next node once for each tool found)\n// (If array is empty, the flow stops here automatically)\nreturn returnItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-896],"id":"1d6bf9ef-8985-413b-a0e6-86ff5ab854bd","name":"Code in JavaScript1"},{"parameters":{"method":"POST","url":"https://n8n.theaiteam.uk/webhook/7ffba8da-d247-43a1-a092-aa5b7a517ff1","sendBody":true,"bodyParameters":{"parameters":[{"name":"execution.id","value":"={{$execution.id}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[400,-768],"id":"a7dcde29-727e-450b-8b05-3402d0b7ec05","name":"HTTP Request2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-368,288],"id":"9cda6b77-e1e2-4101-aeb2-7f5a24d5d192","name":"Respond to Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"853cd102-cd29-4cac-9efb-6c73c7c8f0ba","leftValue":"={{ $json.body.facebookPostDetails.type }}","rightValue":"post","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-864,384],"id":"144c3132-ea47-438a-a0e7-e7aa9926d300","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-368,448],"id":"1199841f-3a9e-4b59-8357-79c02bc3e3e8","name":"Respond to Webhook1"},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/social-media-posting/9U9wNXb2nRyJBguu9K57/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pit-f1e41a3a-454f-445e-ac75-b30f896debca"},{"name":"Accept","value":"application/json"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"userId\": \"{{ $json.body.userId }}\",\n  \"type\": \"post\",\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.body.scheduleDate }}\",\n  \"accountIds\": [\n    \"{{ $json.body.accountIds[0] }}\"\n  ],\n  \"media\": [\n    {\n      \"url\": \"{{ $json.body.Url_of_the_Media }}\",\n      \"caption\": \"{{ $json.body.Caption }}\",\n      \"type\": \"{{ $json.body.media_type }}\"\n    }\n  ],\n  \"instagramPostDetails\": {\n    \"type\": \"{{ $json.body.instagramPostDetails.type }}\"\n  },\n  \"summary\": {{ JSON.stringify($json.body.summary) }}\n} ","options":{}},"id":"f5030506-a7ae-41fe-bf38-f86f1fe37733","name":"Facebook Post - The Ai Team5","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-608,640],"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-368,640],"id":"d933f36d-b6c9-4fab-90fb-596ae7b2d74d","name":"Respond to Webhook4","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"853cd102-cd29-4cac-9efb-6c73c7c8f0ba","leftValue":"={{ $json.body.instagramPostDetails.type }}","rightValue":"post","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-864,736],"id":"cb699ab7-bcec-4654-bd69-475203279088","name":"If2","disabled":true},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/social-media-posting/9U9wNXb2nRyJBguu9K57/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pit-f1e41a3a-454f-445e-ac75-b30f896debca"},{"name":"Accept","value":"application/json"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"userId\": \"{{ $json.body.userId }}\",\n  \"type\": \"story\",\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.body.scheduleDate }}\",\n  \"accountIds\": [\n    \"{{ $json.body.accountIds[0] }}\"\n  ],\n  \"media\": [\n    {\n      \"url\": \"{{ $json.body.Url_of_the_Media }}\",\n      \"caption\": \"{{ $json.body.Caption }}\",\n      \"type\": \"{{ $json.body.media_type }}\"\n    }\n  ],\n  \"instagramPostDetails\": {\n    \"type\": \"{{ $json.body.instagramPostDetails.type }}\"\n  }\n} ","options":{}},"id":"48d0eec1-29c1-4800-b1c9-d5c94c0ed455","name":"Facebook Post - The Ai Team6","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-608,800],"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-368,800],"id":"1dd9b926-cfd9-4ea1-a581-76d941f50ef2","name":"Respond to Webhook5","disabled":true},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/social-media-posting/9U9wNXb2nRyJBguu9K57/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pit-f1e41a3a-454f-445e-ac75-b30f896debca"},{"name":"Accept","value":"application/json"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"userId\": \"{{ $json.body.userId }}\",\n  \"type\": \"post\",\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.body.scheduleDate }}\",\n  \"accountIds\": [\n    \"{{ $json.body.accountIds[0] }}\"\n  ],\n  \"media\": [\n    {\n      \"url\": \"{{ $json.body.Url_of_the_Media }}\",\n      \"caption\": \"{{ $json.body.Caption }}\",\n      \"type\": \"{{ $json.body.media_type }}\"\n    }\n  ],\n  \"linkedinPostDetails\": {\n    \"postAsPdf\": false\n  },\n  \"summary\": {{ JSON.stringify($json.body.summary) }}\n} ","options":{}},"id":"d50e517c-19da-4885-875f-963b11fdd936","name":"Facebook Post - The Ai Team7","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-608,960],"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-368,960],"id":"70da7d48-87e7-4f12-8cea-060ea920c7b0","name":"Respond to Webhook6","disabled":true},{"parameters":{"httpMethod":"POST","path":"Squidgy/FacebookAgent","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1200,384],"id":"5281f534-5e3c-4714-aa6b-f7e50086e52e","name":"Facebook","webhookId":"5d3b0b9f-6229-411d-9f9c-81cfc5c13fe3"},{"parameters":{"httpMethod":"POST","path":"Instagram/TheAiTeam&SethWard","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1072,736],"id":"4c9e1f7c-bf2e-4f7f-bbd9-cdb6e9383f65","name":"Instagram","webhookId":"5d3b0b9f-6229-411d-9f9c-81cfc5c13fe3","disabled":true},{"parameters":{"httpMethod":"POST","path":"LinkedIn/TheAiTeam&SethWard","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1072,960],"id":"5560dd79-df10-424a-972f-ab9211c62f32","name":"LinkedIn","webhookId":"5d3b0b9f-6229-411d-9f9c-81cfc5c13fe3","disabled":true},{"parameters":{"toolDescription":"Makes an HTTP request and gets the account information needed for the next steps. \n\nMUST BE DONE BEFORE SCHEDULING POSTS","url":"=https://services.leadconnectorhq.com/social-media-posting/{{ $('Get a row').item.json.ghl_location_id }}/accounts ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('Get a row').item.json.PIT_Token }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-528,-16],"id":"68ee199c-7d37-4146-9ee3-e72fb68140d6","name":"Get Available accounts"},{"parameters":{"operation":"get","tableId":"ghl_subaccounts","filters":{"conditions":[{"keyName":"firm_user_id","keyValue":"={{ $json.body.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1216,-640],"id":"ec987909-1f62-4b25-8730-05830e56a339","name":"Get a row","credentials":{"supabaseApi":{"id":"uk8y8Aw346FSXNbw","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1744,-256],"id":"bd419a2e-8abb-475b-9580-2419bc06d8f2","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"=https://services.leadconnectorhq.com/social-media-posting/{{ $json.ghl_location_id }}/accounts ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $json.PIT_Token }}"},{"name":"Version","value":"2021-07-28"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1008,-480],"id":"556d3517-aaef-430f-a87f-16240de922e0","name":"HTTP Request"},{"parameters":{"operation":"get","tableId":"profiles","filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $json.body.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2048,-496],"id":"79cda3d6-28f4-4725-b573-c463ae988631","name":"Get a row1","credentials":{"supabaseApi":{"id":"uk8y8Aw346FSXNbw","name":"Supabase account"}}},{"parameters":{"toolDescription":"Make an image post on Facebook for account ","method":"POST","url":"https://n8n.theaiteam.uk/webhook/Squidgy/FacebookAgent","sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `the user ID fro the account`, 'string') }}"},{"name":"type","value":"post"},{"name":"summary","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Write the Facebook caption`, 'string') }}"},{"name":"status","value":"scheduled"},{"name":"scheduleDate","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `ISO datetime like 2026-01-03T16:00:00Z`, 'string') }}"},{"name":"accountIds","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `the account id String for the account`, 'string') }}"},{"name":"facebookPostDetails","value":"={{ { \"type\": \"post\" } }}"},{"name":"Url_of_the_Media","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `The url of the media \n(Just the string of the url please`, 'string') }}"},{"name":"Caption","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters8_Value', `the caption for the image (string)`, 'string') }}"},{"name":"media_type","value":"image/png"},{"name":"Access Token","value":"=Bearer {{ $('Get a row').item.json.PIT_Token }}"},{"name":"locationid","value":"={{ $('Get a row').item.json.ghl_location_id }}"}]},"options":{}},"id":"eadbd68f-83ec-40cb-a465-1e7c00e8e41c","name":"Facebook Image Post","type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-112,-64]},{"parameters":{"toolDescription":"Make a video story post on Facebook for account \"The Ai Team\"","method":"POST","url":"https://n8n.theaiteam.uk/webhook/Squidgy/Facebook","sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"677e5afa1c118555f049337e"},{"name":"type","value":"story"},{"name":"status","value":"scheduled"},{"name":"scheduleDate","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `ISO datetime like 2026-01-03T16:00:00Z`, 'string') }}"},{"name":"accountIds","value":"={{ [\"677e5afa1c118555f049337e_9U9wNXb2nRyJBguu9K57_354428951089634_page\"] }}"},{"name":"facebookPostDetails","value":"={{ { \"type\": \"story\" } }}"},{"name":"Url_of_the_Media","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `Just the URL of the media (string)`, 'string') }}"},{"name":"Caption","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `the caption of the image `, 'string') }}"},{"name":"media_type","value":"video/mp4"}]},"options":{}},"id":"e726e45b-d49c-4a83-87a6-b3dfc2901381","name":"Facebook Image Story Post \"The Ai Team\"1","type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[576,-64]},{"parameters":{"toolDescription":"Make an image story post on Facebook for account ","method":"POST","url":"https://n8n.theaiteam.uk/webhook/Squidgy/Facebook","sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"677e5afa1c118555f049337e"},{"name":"type","value":"story"},{"name":"status","value":"scheduled"},{"name":"scheduleDate","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `ISO datetime like 2026-01-03T16:00:00Z`, 'string') }}"},{"name":"accountIds","value":"={{ [\"677e5afa1c118555f049337e_9U9wNXb2nRyJBguu9K57_354428951089634_page\"] }}"},{"name":"facebookPostDetails","value":"={{ { \"type\": \"story\" } }}"},{"name":"Url_of_the_Media","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `Just the URL of the media (string)`, 'string') }}"},{"name":"Caption","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `the caption of the image `, 'string') }}"},{"name":"media_type","value":"image/png"}]},"options":{}},"id":"23e3bdd8-49f8-4b59-bc81-b4cb08985876","name":"Facebook Image Story Post \"The Ai Team\"","type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[480,-240]},{"parameters":{"toolDescription":"Make a text-only Facebook post for account \"The Ai Team\"\n\nonly use this for text only if theres an image or video use the other tool","method":"POST","url":"=https://services.leadconnectorhq.com/social-media-posting/{{ $('Get a row').item.json.ghl_location_id }}/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get a row').item.json.PIT_Token }}"},{"name":"Accept","value":"application/json"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `use the user id from the relevant account use the get accounts tool first if needed`, 'string') }}"},{"name":"type","value":"post"},{"name":"summary","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('summary', 'Write a short Facebook post for The AI Team', 'string') }}"},{"name":"status","value":"scheduled"},{"name":"scheduleDate","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `ISO date like 2026-01-03T16:00:00Z\n\n`, 'string') }}"},{"name":"accountIds","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `use the account id from the relevant account use the get accounts tool first if needed`, 'string') }}"},{"name":"facebookPostDetails","value":"={{ { \"type\": \"post\" } }}"},{"name":"media","value":"={{ [] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[208,-64],"id":"b7661d58-7bf4-427e-bd4b-343165c86b32","name":"Facebook Text Post \"The Ai Team\""},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/social-media-posting/{{ $json.body.locationid }}/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.body[\"Access Token\"] }}"},{"name":"Accept","value":"application/json"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"userId\": \"{{ $json.body.userId }}\",\n  \"type\": \"post\",\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.body.scheduleDate }}\",\n  \"accountIds\": [\n    \"{{ $json.body.accountIds }}\"\n  ],\n  \"media\": [\n    {\n      \"url\": \"{{ $json.body.Url_of_the_Media }}\",\n      \"caption\": \"{{ $json.body.Caption }}\",\n      \"type\": \"{{ $json.body.media_type }}\"\n    }\n  ],\n  \"facebookPostDetails\": {\n    \"type\": \"{{ $json.body.facebookPostDetails.type }}\"\n  },\n  \"summary\": {{ JSON.stringify($json.body.summary) }}\n} ","options":{}},"id":"a848f939-3d2e-4285-bc9f-3e02edd24e35","name":"Facebook Post","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-608,288]},{"parameters":{"toolDescription":"Makes an HTTP request and gets the social media post information needed for the next steps. ","method":"POST","url":"=https://services.leadconnectorhq.com/social-media-posting/{{ $('Get a row').item.json.ghl_location_id }}/posts/list","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('Get a row').item.json.PIT_Token }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-432,-16],"id":"7e5b9895-6352-4a41-a5fb-f0ab061eb870","name":"Get Posts"},{"parameters":{"toolDescription":"once the post id of the post we want to delete has been gathered it can be used here to delete said post.","method":"DELETE","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `the url is \n\n\nhttps://services.leadconnectorhq.com/social-media-posting/[the location id]/posts/(THE POST ID GOES HERE)\n\nyou need to use the post id for that post to be deleted \nid will be in this form id\nstring\nrequired\nPost Id\n\nExample: 65fac446d599990d1313c1dd`, 'string') }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('Get a row').item.json.PIT_Token }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-336,-16],"id":"cbed0bfc-1fc6-4f8d-b3cc-f70e64fd9ce1","name":"Delete Post"},{"parameters":{"url":"https://api.unsplash.com/search/photos","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"nature"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Client-ID HLOAvAE2KAkwoqtnqCkQyVxnXWkWuDcTJf0azVXFURY"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1168,-160],"id":"11943a49-4c9e-4820-adbc-37bfe2549ecb","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/social-media-posting/{{ $json.body.locationid }}/posts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.body[\"Access Token\"] }}"},{"name":"Accept","value":"application/json"},{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"userId\": \"{{ $json.body.userId }}\",\n  \"type\": \"story\",\n  \"status\": \"scheduled\",\n  \"scheduleDate\": \"{{ $json.body.scheduleDate }}\",\n  \"accountIds\": [\n    \"{{ $json.body.accountIds }}\"\n  ],\n  \"media\": [\n    {\n      \"url\": \"{{ $json.body.Url_of_the_Media }}\",\n      \"caption\": \"{{ $json.body.Caption }}\",\n      \"type\": \"{{ $json.body.media_type }}\"\n    }\n  ],\n  \"facebookPostDetails\": {\n    \"type\": \"{{ $json.body.facebookPostDetails.type }}\"\n  }\n} ","options":{}},"id":"8640277f-81fa-41db-92cc-5fa8c60702fd","name":"Facebook Story Post","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-608,448]},{"parameters":{"url":"https://services.leadconnectorhq.com/medias/files","sendQuery":true,"queryParameters":{"parameters":[{"name":"altId","value":"y6s9fyyiisMvJGWdFLzD"},{"name":"altType","value":"location"},{"name":"sortBy","value":"createdAt"},{"name":"sortOrder","value":"asc"},{"name":"type","value":"file"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Version","value":"2021-07-28"},{"name":"Authorization","value":"Bearer pit-911493f6-b2e9-4fde-a8ec-3076784e8ca4"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1520,-304],"id":"068f2d9d-fc88-48eb-b00c-36229fb4e424","name":"HTTP Request3"},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data\n\nreturns the name file type and URL that can be used for the posts\n\nThis will return the urls of media that are in the locations media storage","url":"https://services.leadconnectorhq.com/medias/files","sendQuery":true,"queryParameters":{"parameters":[{"name":"type","value":"file"},{"name":"altType","value":"location"},{"name":"altId","value":"={{ $('Get a row').item.json.ghl_location_id }}"},{"name":"query","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `what it can search for`, 'string') }}"},{"name":"limit","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('Get a row').item.json.PIT_Token }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[-816,-16],"id":"3d63b830-da61-4ccc-bfee-7adec1d4e20c","name":"Get File Storage"},{"parameters":{"toolDescription":"Make an image story post on Facebook for account ","method":"POST","url":"https://n8n.theaiteam.uk/webhook/Squidgy/FacebookAgent","sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `the user ID fro the account`, 'string') }}"},{"name":"type","value":"story"},{"name":"status","value":"scheduled"},{"name":"scheduleDate","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `ISO datetime like 2026-01-03T16:00:00Z`, 'string') }}"},{"name":"accountIds","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"},{"name":"facebookPostDetails","value":"={{ { \"type\": \"post\" } }}"},{"name":"Url_of_the_Media","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `The url of the media \n(Just the string of the url please`, 'string') }}"},{"name":"Caption","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters8_Value', `the caption for the image (string)`, 'string') }}"},{"name":"media_type","value":"image/png"},{"name":"Access Token","value":"=Bearer {{ $('Get a row').item.json.PIT_Token }}"},{"name":"locationid","value":"={{ $('Get a row').item.json.ghl_location_id }}"}]},"options":{}},"id":"5816b701-3add-4a5e-84a0-9ee40cbfb490","name":"Facebook Image Story Post","type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[368,-64]},{"parameters":{"toolDescription":"Make a video post on Facebook for account \"The Ai Team\"","method":"POST","url":"https://n8n.theaiteam.uk/webhook/Squidgy/Facebook","sendBody":true,"bodyParameters":{"parameters":[{"name":"userId","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `the user ID fro the account`, 'string') }}"},{"name":"type","value":"post"},{"name":"summary","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Write the Facebook caption`, 'string') }}"},{"name":"status","value":"scheduled"},{"name":"scheduleDate","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `ISO datetime like 2026-01-03T16:00:00Z`, 'string') }}"},{"name":"accountIds","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `the account id fro the account`, 'string') }}"},{"name":"facebookPostDetails","value":"={{ { \"type\": \"post\" } }}"},{"name":"Url_of_the_Media","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `just the URL of the media please (string)`, 'string') }}"},{"name":"Caption","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters8_Value', `the caption for the media`, 'string') }}"},{"name":"media_type","value":"video/mp4"},{"name":"Access Token","value":"=Bearer {{ $('Get a row').item.json.PIT_Token }}"},{"name":"locationid","value":"={{ $('Get a row').item.json.ghl_location_id }}"}]},"options":{}},"id":"4e0c2ab5-93aa-4a22-a415-9b94f8f4358e","name":"Facebook Video Post","type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[64,-64]}],"connections":{"PA AI Agent":{"main":[[{"node":"Code1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"PA AI Agent","type":"ai_languageModel","index":0}]]},"Respond to Webhook2":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0},{"node":"HTTP Request2","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"PA AI Agent","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"Code1":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"PA AI Agent","type":"ai_memory","index":0}]]},"If1":{"main":[[{"node":"Write in Tool Log","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"If":{"main":[[{"node":"Facebook Post","type":"main","index":0}],[{"node":"Facebook Story Post","type":"main","index":0}]]},"Facebook Post - The Ai Team5":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"If2":{"main":[[{"node":"Facebook Post - The Ai Team5","type":"main","index":0}],[{"node":"Facebook Post - The Ai Team6","type":"main","index":0}]]},"Facebook Post - The Ai Team6":{"main":[[{"node":"Respond to Webhook5","type":"main","index":0}]]},"Facebook Post - The Ai Team7":{"main":[[{"node":"Respond to Webhook6","type":"main","index":0}]]},"Facebook":{"main":[[{"node":"If","type":"main","index":0}]]},"Instagram":{"main":[[{"node":"If2","type":"main","index":0}]]},"LinkedIn":{"main":[[{"node":"Facebook Post - The Ai Team7","type":"main","index":0}]]},"Get Available accounts":{"ai_tool":[[{"node":"PA AI Agent","type":"ai_tool","index":0}]]},"Get a row":{"main":[[{"node":"PA AI Agent","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"Facebook Image Post":{"ai_tool":[[{"node":"PA AI Agent","type":"ai_tool","index":0}]]},"Facebook Image Story Post \"The Ai Team\"1":{"ai_tool":[[]]},"Facebook Image Story Post \"The Ai Team\"":{"ai_tool":[[]]},"Facebook Text Post \"The Ai Team\"":{"ai_tool":[[{"node":"PA AI Agent","type":"ai_tool","index":0}]]},"Facebook Post":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get Posts":{"ai_tool":[[{"node":"PA AI Agent","type":"ai_tool","index":0}]]},"Delete Post":{"ai_tool":[[{"node":"PA AI Agent","type":"ai_tool","index":0}]]},"Facebook Story Post":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Get File Storage":{"ai_tool":[[{"node":"PA AI Agent","type":"ai_tool","index":0}]]},"Facebook Image Story Post":{"ai_tool":[[{"node":"PA AI Agent","type":"ai_tool","index":0}]]},"Facebook Video Post":{"ai_tool":[[{"node":"PA AI Agent","type":"ai_tool","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-20T13:13:10.000Z","id":73,"workflowId":"I2jXBeuDzprV5YlX","versionId":"3ad4f9da-a818-4b43-bb54-62d9064f4eb4","event":"activated","userId":null}]}}