agents/shared/n8n_workflow_template.json
{
  "updatedAt": "2026-03-06T11:04:19.962Z",
  "createdAt": "2025-08-16T09:58:50.980Z",
  "id": "ijDtq0ljM2atxA0E",
  "name": "Squidgy_AgentTemplate_Workflow",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        448,
        240
      ],
      "id": "a922a05b-b324-490a-8047-246f52ef1ef4",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "7hB3eGzzdDVoxaV5",
          "name": "Claude_Demo_SMM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.body.user_mssg;\nconst body = $input.first().json.body;  \nconst userId = body.user_id;\n// Extract URL from message (uploaded file)\nconst urlMatch = text.match(/https?:\\/\\/[^\\s]+/);\nconst url = urlMatch ? urlMatch[0] : null;\n// Extract Supabase base URL from the uploaded file URL\nlet supabaseUrl = '';\nif (url) {\n  const baseMatch = url.match(/^(https:\\/\\/[^\\/]+\\.supabase\\.co)/);\n  supabaseUrl = baseMatch ? baseMatch[1] : '';\n}\n// Extract file extension from URL or filename\nlet format = null;\nif (url) {\n  const cleanUrl = url.split('?')[0];\n  format = cleanUrl.split('.').pop();\n}\n// Generate download links for all 12 KB files\nconst kbFiles = [\n  '01-company-overview.md',\n  '02-icp-target-audience.md',\n  '03-branding-identity.md',\n  '04-messaging-positioning.md',\n  '05-product-services.md',\n  '06-sales-process.md',\n  '07-marketing-channels.md',\n  '08-development-technical.md',\n  '09-operations-workflows.md',\n  '10-contacts-stakeholders.md',\n  '11-customer-success.md',\n  '12-competitive-landscape.md'\n];\n// Build download URLs for existing KB files\n// Path: knowledge-base/{user_id}/{filename}\nconst kbDownloadLinks = kbFiles.map(filename => ({\n  filename: filename,\n  download_url: `${supabaseUrl}/storage/v1/object/public/knowledge-base/${userId}/${filename}`\n}));\nreturn [\n  {\n    url,\n    format,\n    body,\n    user_id: userId,\n    supabase_url: supabaseUrl,\n    kb_files: kbDownloadLinks\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        48
      ],
      "id": "bb845b6d-5179-414b-8da9-f721c2450c75",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Get AI response - it's already just a message string\nconst aiOutput = $input.first().json;\nconst aiResponse = aiOutput.output || aiOutput.text || aiOutput;\n\n// Clean the response (remove any accidental JSON formatting if present)\nlet userMessage;\ntry {\n  // Check if AI accidentally returned JSON\n  const parsed = JSON.parse(aiResponse);\n  userMessage = parsed.message || aiResponse;\n} catch (e) {\n  // It's already a plain string, use it directly\n  userMessage = aiResponse;\n}\n\n// Convert HTML anchor tags to markdown links\nuserMessage = userMessage.replace(/<a\\s+[^>]*href=[\"']([^\"']+)[\"'][^>]*>([^<]+)<\\/a>/gi, '[$2]($1)');\n\n// Clean leftover attributes\nuserMessage = userMessage.replace(/target=[\"'][^\"']*[\"']\\s*/gi, '');\nuserMessage = userMessage.replace(/rel=[\"'][^\"']*[\"']\\s*/gi, '');\nuserMessage = userMessage.replace(/style=[\"'][^\"']*[\"']\\s*/gi, '');\n\n// ✅ RETURN (unchanged structure + intermediateSteps added)\nreturn {\n  json: {\n    user_id: $('Main Workflow').first().json.body.user_id,\n    session_id: $('Main Workflow').first().json.body.session_id,\n    agent_name: $('Main Workflow').first().json.body.agent_name,\n    timestamp_of_call_made: new Date().toISOString(),\n    request_id: $('Main Workflow').first().json.body.request_id,\n    agent_response: userMessage.trim(),\n\n    // 🔥 ADD THIS (for tool logger)\n    intermediateSteps: aiOutput.intermediateSteps || [],\n    // 🔥 Execution ID for admin debugging\n    execution_id: $execution.id,\n    workflow_id: $workflow.id\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        48
      ],
      "id": "6d4fadee-8dda-4ea9-b6b7-1a4ea0a5eb6f",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "agent_system_prompts",
          "mode": "list",
          "cachedResultName": "agent_system_prompts"
        },
        "where": {
          "values": [
            {
              "column": "agent_id",
              "value": "<<agent_id>>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        336,
        48
      ],
      "id": "09cdddc9-0530-4c74-83ae-2bc1d340c3e9",
      "name": "Get system prompt",
      "credentials": {
        "postgres": {
          "id": "9VZuQcfK90oMX16w",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code in JavaScript').item.json.body.user_mssg }} {{ $('Code in JavaScript').item.json.url }}",
        "options": {
          "systemMessage": "={{ $('Get system prompt').item.json.system_prompt }}",
          "returnIntermediateSteps": true,
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        544,
        48
      ],
      "id": "c3be6ff7-c7f2-4453-8b8e-a5d891f1d085",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "<<agent_id>>",
        "responseMode": "streaming",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        48
      ],
      "id": "098abf92-976f-49a9-9082-b51393dd47da",
      "name": "Main Workflow",
      "webhookId": "87da5dd6-34f7-453b-88aa-d84556de018e"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code in JavaScript').item.json.body.session_id }}",
        "tableName": "chat_histories",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        592,
        240
      ],
      "id": "031a6f64-88b6-4c3c-9ec2-4a43f25485cc",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "9VZuQcfK90oMX16w",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "tableId": "User_Tool Usage",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Tool Used",
              "fieldValue": "={{ $json.tool_name }}"
            },
            {
              "fieldId": "User Id",
              "fieldValue": "={{ $('Main Workflow').item.json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1616,
        -80
      ],
      "id": "219ffddd-3018-4298-9368-587f7119e1ff",
      "name": "Write in Tool Log",
      "credentials": {
        "supabaseApi": {
          "id": "uk8y8Aw346FSXNbw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7a79d1f1-c2cd-437b-86ed-536d1d18829b",
              "leftValue": "={{ $json.tool_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1376,
        -64
      ],
      "id": "b36872ea-59d7-4263-8132-a16cc644c258",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the data passed down from previous node\nconst inputData = $input.first().json;\nconst steps = Array.isArray(inputData.intermediateSteps)\n  ? inputData.intermediateSteps\n  : [];\n\nconst returnItems = [];\n\n// 2. Loop through all steps\nsteps.forEach((step) => {\n  \n  const action = step.action || {};\n  \n  // Support multiple possible tool name properties\n  const toolName =\n    action.tool ||\n    action.toolName ||\n    action.name ||\n    action.id ||\n    null;\n\n  if (toolName) {\n    returnItems.push({\n      json: {\n        // --- Tool Data ---\n        tool_name: toolName,\n        tool_args: action.toolInput || action.input || null,\n        tool_output: step.observation || null,\n\n        // --- Context ---\n        user_id: inputData.user_id,\n        session_id: inputData.session_id,\n        request_id: inputData.request_id\n      }\n    });\n  }\n});\n\n// 3. Return one item per tool call\nreturn returnItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -64
      ],
      "id": "3052eabd-8d7c-4276-acb8-51badbc1dc9b",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.theaiteam.uk/webhook/7ffba8da-d247-43a1-a092-aa5b7a517ff1",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "execution.id",
              "value": "={{$execution.id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1168,
        112
      ],
      "id": "28e382e9-bd56-4ffc-adc8-52a4152eee5f",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "toolDescription": "Search the knowledge base for relevant information about the user, their preferences, previous conversations, uploaded documents, or saved context. Use this tool when you need to recall information the user has shared before or check if specific information has been saved. Query with natural language describing what you're looking for.",
        "method": "POST",
        "url": "https://squidgy-backend-00f664bf1f3d.herokuapp.com/api/knowledge-base/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `send query here`, 'string') }}"
            },
            {
              "name": "user_id",
              "value": "={{ $('Code in JavaScript').item.json.body.user_id }}"
            },
            {
              "name": "agent_id",
              "value": "<<agent_id>>"
            },
            {
              "name": "limit",
              "value": "5"
            },
            {
              "name": "similarity_threshold",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        624,
        576
      ],
      "id": "235d5e18-9f77-4a57-8db5-061045d9a366",
      "name": "Serach in knowledge base"
    },
    {
      "parameters": {
        "description": "Save information PERMANENTLY to the knowledge base. This is the ONLY way to persist data across conversations — session memory is temporary and will be lost.\n\n🚨 If a user provides ANY business info, preferences, contact details, or corrections → MUST use this tool. Session memory is NOT saving.\n\nPREREQUISITE: ALWAYS call \"Postgres PGVector RAG\" first to search for existing content before saving.\n\nWORKFLOW:\n1. Call \"Postgres PGVector RAG\" to search for existing data\n2. If exists → updating=true | If new → updating=false\n3. Call this tool with parameters below\n\nPARAMETERS:\n- query: Clear, structured text (e.g. \"Company: Acme Corp | Type: Property management | Location: Manchester\")\n- category: One of:\n  - \"user_preferences\" — Company info, contacts, business type, products, audience, brand voice, social profiles, and all other business facts or preferences\n  - \"result_of_analysis\" — Website analysis, competitor research, branding analysis outputs\n  - \"custom_instructions\" — User-defined rules for agent behaviour\n- source: Topic identifier (e.g. \"company_info\", \"contact_details\", \"products_services\", \"target_audience\", \"website_analysis\")\n- updating: true if replacing existing content, false if new\n\n🚫 NEVER claim data is \"saved\" or \"updated\" without calling this tool. Storing in session memory and saying \"Got it!\" is a failure.",
        "workflowId": {
          "__rl": true,
          "value": "mrMpEHjl5tpKaY1F",
          "mode": "list",
          "cachedResultUrl": "/workflow/mrMpEHjl5tpKaY1F",
          "cachedResultName": "FK - RAG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `Information to save permanently. Session memory will NOT persist — use this tool.\nFormat clearly: \"Company: Acme Corp | Type: SaaS | Location: London | Industry: AI\"`, 'string') }}",
            "userID": "={{ $('Code in JavaScript').item.json.user_id }}",
            "category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', `One of: \"user_preferences\" (all business info, contacts, preferences), \"result_of_analysis\" (analysis outputs), or \"custom_instructions\" (user-defined rules). When unsure, use \"user_preferences\".`, 'string') }}",
            "agentID": "<<agent_id>>",
            "source": "chat",
            "Updating": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Updating', `if you want to update a previously seved content in knowledge base pass True`, 'boolean') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userID",
              "displayName": "userID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "agentID",
              "displayName": "agentID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Updating",
              "displayName": "Updating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        800,
        592
      ],
      "id": "1ab6332b-75d5-4fbe-9bd0-58c06ffdac1a",
      "name": "Save_to_Permanent_KB"
    },
    {
      "parameters": {
        "content": "# RAG",
        "height": 308,
        "width": 440,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        480
      ],
      "typeVersion": 1,
      "id": "d2e23ee1-342d-48fc-baf4-0c0c96ea8f7c",
      "name": "Sticky Note12"
    }
  ],
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get system prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get system prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Write in Tool Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serach in knowledge base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Save_to_Permanent_KB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2c70ebe4-b2d8-4bdf-aaa0-c4c9c1cb5405",
  "activeVersionId": null,
  "versionCounter": 28,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-04T16:38:39.542Z",
      "createdAt": "2026-03-04T16:38:39.542Z",
      "role": "workflow:owner",
      "workflowId": "ijDtq0ljM2atxA0E",
      "projectId": "2qFbZc2MGPXfvV52",
      "project": {
        "updatedAt": "2025-04-16T10:25:43.401Z",
        "createdAt": "2025-04-16T10:24:21.980Z",
        "id": "2qFbZc2MGPXfvV52",
        "name": "Seth Ward <seth@theai.team>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "878bca16-df64-4d79-9f7b-734cf747de33",
        "projectRelations": [
          {
            "updatedAt": "2025-04-16T10:24:21.980Z",
            "createdAt": "2025-04-16T10:24:21.980Z",
            "userId": "878bca16-df64-4d79-9f7b-734cf747de33",
            "projectId": "2qFbZc2MGPXfvV52",
            "user": {
              "updatedAt": "2026-03-06T00:30:20.000Z",
              "createdAt": "2025-04-16T10:24:21.334Z",
              "id": "878bca16-df64-4d79-9f7b-734cf747de33",
              "email": "seth@theai.team",
              "firstName": "Seth",
              "lastName": "Ward",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-04-16T10:26:03.682Z",
                "personalization_survey_n8n_version": "1.88.0",
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "business-owner",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "qpmlr9DFPWptKLa2",
                "userActivatedAt": 1744801289239,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1762853642560
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-06-23T14:33:52.218Z",
      "createdAt": "2025-06-23T14:33:52.218Z",
      "id": "tbBgpBQ9QoHKIZP6",
      "name": "Squidgy"
    }
  ],
  "activeVersion": null
}