n8n/multi_topic_newsletter_workflow.json
{
  "name": "CRA| Squidgy Multi-Topic Newsletter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/Squidgy/Newsletter/MultiTopic",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1200, 300],
      "id": "webhook-multi-topic",
      "name": "Webhook",
      "webhookId": "multi-topic-newsletter-webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "client_agent_knowledge_base_view",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-960, 180],
      "id": "supabase-kb",
      "name": "Supabase_kb",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "vw_newsletter_topics_for_llm"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-960, 420],
      "id": "supabase-topics",
      "name": "Supabase_topics",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [-720, 300],
      "id": "merge-data",
      "name": "Merge KB + Topics"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// Multi-Topic Newsletter - Code Node (Simplified)\n// ============================================================================\n// Topics and questions now come pre-formatted from the database view\n// ============================================================================\n\n// Get webhook body\nconst webhookBody = $('Webhook').first().json.body;\n\n// Get Supabase KB data (user-specific)\nconst kbData = $('Supabase_kb').first().json || {};\n\n// Get Topics data (global - same for all users)\nconst topicsData = $('Supabase_topics').first().json || {};\n\n// Default conversation state\nconst defaultState = {\n  phase: 'topic_selection',\n  selected_topics: [],\n  current_topic_index: 0,\n  current_question_index: 0,\n  answers: {}\n};\n\nreturn [\n  {\n    json: {\n      // Webhook identifiers\n      user_id: webhookBody.user_id,\n      user_mssg: webhookBody.user_mssg,\n      session_id: webhookBody.session_id,\n      agent_name: webhookBody.agent_name,\n      timestamp_of_call_made: webhookBody.timestamp_of_call_made,\n      request_id: webhookBody.request_id,\n\n      // KB data (from client_agent_knowledge_base_view)\n      knowledge_base: kbData.knowledge_base || '',\n      knowledge_base_summary: (kbData.knowledge_base || '').substring(0, 2000),\n      website_url: kbData.website_url || '',\n      website_icon: kbData.favicon_url || '',\n      communication_tone: kbData.communication_tone || 'professional',\n      company_name: kbData.company_name || '',\n      newsletter_instructions: kbData.newsletter_questions || '',\n\n      // Topics data (from vw_newsletter_topics_for_llm - pre-formatted)\n      available_topics_display: topicsData.available_topics_display || '',\n      available_topics_text: topicsData.available_topics_text || '',\n      topics_with_questions: JSON.stringify(topicsData.topics_with_questions || [], null, 2),\n      topics_questions_formatted: topicsData.topics_questions_formatted || '',\n      topic_code_map: topicsData.topic_code_map || {},\n      total_topics: topicsData.total_topics || 7,\n\n      // Conversation state\n      conversation_state: JSON.stringify(defaultState, null, 2)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 300],
      "id": "code-prepare-data",
      "name": "Code - Prepare Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert B2B newsletter specialist.\n\n## YOUR TASK\nGuide users through multi-topic newsletter creation:\n1. Let them select 2-4 topics\n2. Ask questions for EACH topic (one at a time)\n3. Track progress and show which topic/question they're on\n4. When all information is gathered, set Status to \"Ready\"\n\n---\n\n## STEP 1: TOPIC SELECTION (MULTI-SELECT)\n\nFirst, ask the user to select 2-4 topics:\n\n\"Let's create your newsletter! Please select 2-4 topics.\nType the numbers separated by commas (e.g., '1, 3, 5'):\n\n{{ $json.available_topics_display }}\"\n\n---\n\n## STEP 2: GATHER INFORMATION\n\nAfter selection:\n- Announce topic: \"Let's start with **[Topic Name]** (Topic 1 of X)\"\n- Ask questions ONE AT A TIME\n- Store each answer\n- Show progress when moving to next topic\n\n---\n\n## AVAILABLE TOPICS & QUESTIONS\n\n{{ $json.topics_questions_formatted }}\n\n---\n\n## CURRENT STATE\n{{ $json.conversation_state }}\n\n---\n\n## USER'S MESSAGE\n{{ $json.user_mssg }}\n\n---\n\n## OUTPUT FORMAT (STRICT JSON)\n\nAlways respond with valid JSON:\n\n{\n\"response\": \"your message\",\n\"Status\": \"Waiting\",\n\"state\": {\n  \"phase\": \"topic_selection|gathering|ready\",\n  \"selected_topics\": [],\n  \"current_topic_index\": 0,\n  \"current_question_index\": 0,\n  \"answers\": {}\n}\n}\n\n**Status values:**\n- \"Waiting\" - Still gathering information\n- \"Ready\" - All information collected\n\n**CRITICAL:** Output ONLY valid JSON. No text before/after. No markdown code blocks.\n\n---\n\n## COMPANY CONTEXT\nWebsite: {{ $json.website_url }}\nKB Summary: {{ $json.knowledge_base_summary }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [-120, 300],
      "id": "ai-agent-conversation",
      "name": "AI Agent - Conversation"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3-haiku",
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [-120, 520],
      "id": "llm-conversation",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code - Prepare Data').item.json.session_id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [100, 520],
      "id": "memory-conversation",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"response\": \"the response\",\n\"Status\": \"Waiting\",\n\"state\": {\n  \"phase\": \"topic_selection\",\n  \"selected_topics\": [],\n  \"current_topic_index\": 0,\n  \"current_question_index\": 0,\n  \"answers\": {}\n}\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [100, 720],
      "id": "output-parser",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-ready",
              "leftValue": "={{ $json.output.Status }}",
              "rightValue": "Ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [280, 300],
      "id": "if-ready",
      "name": "If Ready"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"user_id\":\"{{ $('Code - Prepare Data').item.json.user_id }}\",\n  \"session_id\":\"{{ $('Code - Prepare Data').item.json.session_id }}\",\n  \"agent_name\":\"newsletter\",\n  \"timestamp_of_call_made\":\"{{ new Date().toISOString() }}\",\n  \"request_id\":\"{{ $('Code - Prepare Data').item.json.request_id }}\",\n  \"agent_response\":{{ JSON.stringify($('AI Agent - Conversation').item.json.output.response) }},\n  \"agent_status\": \"Waiting\",\n  \"state\": {{ JSON.stringify($('AI Agent - Conversation').item.json.output.state) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [520, 420],
      "id": "respond-waiting",
      "name": "Respond - Waiting"
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for newsletter generation\nconst codeData = $('Code - Prepare Data').first().json;\nconst agentOutput = $('AI Agent - Conversation').first().json.output;\n\n// Parse state to get all answers\nconst state = agentOutput.state || {};\nconst allAnswers = state.answers || {};\nconst selectedTopics = state.selected_topics || [];\n\n// Parse topics_with_questions to get topic details\nlet topicsWithQuestions = [];\ntry {\n  topicsWithQuestions = JSON.parse(codeData.topics_with_questions);\n} catch (e) {\n  topicsWithQuestions = [];\n}\n\n// Map selected topics to their full details\nconst topicDetails = selectedTopics.map(topicCode => {\n  const topicInfo = topicsWithQuestions.find(t => t.topic_code === topicCode) || {};\n  return {\n    topic_code: topicCode,\n    topic_name: topicInfo.topic_name || topicCode,\n    emoji: topicInfo.emoji || '📧',\n    is_hero: selectedTopics.indexOf(topicCode) === 0,\n    answers: allAnswers[topicCode] || {},\n    questions: topicInfo.questions || []\n  };\n});\n\nreturn [\n  {\n    json: {\n      // Pass through identifiers\n      user_id: codeData.user_id,\n      session_id: codeData.session_id,\n      request_id: codeData.request_id,\n      \n      // Company context\n      company_name: codeData.company_name,\n      website_url: codeData.website_url,\n      website_icon: codeData.website_icon,\n      communication_tone: codeData.communication_tone,\n      knowledge_base: codeData.knowledge_base,\n      newsletter_instructions: codeData.newsletter_instructions,\n      \n      // Selected topics and answers\n      selected_topics: selectedTopics,\n      all_answers: JSON.stringify(allAnswers, null, 2),\n      topic_details: JSON.stringify(topicDetails, null, 2)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 140],
      "id": "code-prepare-generation",
      "name": "Code - Prepare Generation"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a complete newsletter using the information gathered.\n\n## NEWSLETTER STRUCTURE\n\n### 1. HERO ARTICLE (300-400 words)\n- Use the FIRST selected topic as primary\n- Deep dive into the user's answers\n\n### 2. QUICK INSIGHTS (100-150 words each)\n- One for each ADDITIONAL selected topic\n- Summarize key points\n\n### 3. CTA SECTION (100-150 words)\n- Combine relevant calls-to-action\n\n### 4. FOOTER\n- Soft conclusion and brand signature\n\n---\n\n## SELECTED TOPICS\n{{ $json.selected_topics }}\n\n## TOPIC DETAILS WITH ANSWERS\n{{ $json.topic_details }}\n\n## ALL ANSWERS\n{{ $json.all_answers }}\n\n---\n\n## COMPANY CONTEXT\nCompany: {{ $json.company_name }}\nWebsite: {{ $json.website_url }}\nLogo: {{ $json.website_icon }}\nTone: {{ $json.communication_tone }}\n\nKnowledge Base:\n{{ $json.knowledge_base }}\n\n---\n\n## INSTRUCTIONS\n{{ $json.newsletter_instructions }}\n\n---\n\n## CRITICAL RULES\n1. NO PLACEHOLDERS - Use actual content\n2. NO IMAGE PLACEHOLDERS - Only include logo if provided\n3. RESPONSIVE HTML - Works in email clients\n4. INLINE STYLES - Email clients strip external CSS\n\n## OUTPUT\nGenerate complete HTML newsletter.\nJust the HTML - nothing else.",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are an elite newsletter writer. Generate complete, professional HTML newsletters.\n\nOUTPUT ONLY THE HTML - no markdown code blocks, no explanations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [760, 140],
      "id": "ai-agent-generator",
      "name": "AI Agent - Generator"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3-haiku",
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [760, 360],
      "id": "llm-generator",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Clean the HTML output\nreturn items.map(item => {\n  let raw = item.json.output;\n\n  if (!raw) {\n    return { json: { error: 'No output field found' } };\n  }\n\n  // Remove markdown code block markers\n  const cleaned = raw\n    .replace(/^```html\\s*/, '')\n    .replace(/^```\\s*/, '')\n    .replace(/```$/, '')\n    .trim();\n\n  return {\n    json: {\n      Newsletter_HTML: cleaned\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 140],
      "id": "code-clean-html",
      "name": "Code - Clean HTML"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"user_id\":\"{{ $('Code - Prepare Data').item.json.user_id }}\",\n  \"session_id\":\"{{ $('Code - Prepare Data').item.json.session_id }}\",\n  \"agent_name\":\"newsletter\",\n  \"timestamp_of_call_made\":\"{{ new Date().toISOString() }}\",\n  \"request_id\":\"{{ $('Code - Prepare Data').item.json.request_id }}\",\n  \"agent_response\":{{ JSON.stringify($json.Newsletter_HTML) }},\n  \"agent_status\": \"Ready\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1240, 140],
      "id": "respond-ready",
      "name": "Respond - Ready"
    },
    {
      "parameters": {
        "content": "## Multi-Topic Newsletter Workflow\n\n**Flow:**\n1. Webhook receives request\n2. Fetch KB + Topics from Supabase\n3. AI Agent guides multi-topic selection\n4. Gather answers for each topic (one Q at a time)\n5. When Ready, generate combined newsletter\n\n**Key Features:**\n- Database-driven topics/questions\n- Multi-select (2-4 topics)\n- Progress tracking\n- Combined newsletter output",
        "height": 380,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1600, 100],
      "id": "sticky-info",
      "name": "Sticky Note - Info"
    },
    {
      "parameters": {
        "content": "## INPUT FORMAT\n\n```json\n{\n  \"user_id\": \"uuid\",\n  \"user_mssg\": \"user message\",\n  \"session_id\": \"session_id\",\n  \"agent_name\": \"newsletter\",\n  \"timestamp_of_call_made\": \"ISO timestamp\",\n  \"request_id\": \"unique_id\"\n}\n```",
        "height": 280,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1600, 520],
      "id": "sticky-input",
      "name": "Sticky Note - Input"
    },
    {
      "parameters": {
        "content": "## OUTPUT FORMAT\n\n**Waiting (conversation):**\n```json\n{\n  \"user_id\": \"uuid\",\n  \"session_id\": \"...\",\n  \"agent_name\": \"newsletter\",\n  \"agent_response\": \"message\",\n  \"agent_status\": \"Waiting\",\n  \"state\": {...}\n}\n```\n\n**Ready (with newsletter):**\n```json\n{\n  \"agent_response\": \"<html>...</html>\",\n  \"agent_status\": \"Ready\"\n}\n```",
        "height": 380,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1400, -80],
      "id": "sticky-output",
      "name": "Sticky Note - Output"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase_kb",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase_topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase_kb": {
      "main": [
        [
          {
            "node": "Merge KB + Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase_topics": {
      "main": [
        [
          {
            "node": "Merge KB + Topics",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge KB + Topics": {
      "main": [
        [
          {
            "node": "Code - Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Data": {
      "main": [
        [
          {
            "node": "AI Agent - Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Conversation": {
      "main": [
        [
          {
            "node": "If Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Conversation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Conversation",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent - Generator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Conversation",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If Ready": {
      "main": [
        [
          {
            "node": "Code - Prepare Generation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Waiting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Generation": {
      "main": [
        [
          {
            "node": "AI Agent - Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Generator": {
      "main": [
        [
          {
            "node": "Code - Clean HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code - Clean HTML": {
      "main": [
        [
          {
            "node": "Respond - Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
