n8n/multi_topic_newsletter_workflow.json
{
  "name": "CRA| Squidgy Multi-Topic Newsletter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/newsletter_multi",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1200, 300],
      "id": "webhook-multi-topic",
      "name": "Webhook",
      "webhookId": "multi-topic-newsletter-webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "vw_newsletter_multi_topic_llm",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-960, 300],
      "id": "supabase-combined",
      "name": "Supabase - Get All Data",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// Multi-Topic Newsletter - Code Node (Single Query Version)\n// ============================================================================\n// All data comes from vw_newsletter_multi_topic_llm (combined view)\n// ============================================================================\n\nconst webhookBody = $('Webhook').first().json.body;\nconst data = $('Supabase - Get All Data').first().json || {};\n\n// Default conversation state\nconst defaultState = {\n  phase: 'topic_selection',\n  selected_topics: [],\n  current_topic_index: 0,\n  current_question_index: 0,\n  answers: {}\n};\n\nreturn [\n  {\n    json: {\n      // Webhook identifiers\n      user_id: webhookBody.user_id,\n      user_mssg: webhookBody.user_mssg,\n      session_id: webhookBody.session_id,\n      agent_name: webhookBody.agent_name,\n      timestamp_of_call_made: webhookBody.timestamp_of_call_made,\n      request_id: webhookBody.request_id,\n\n      // KB data (from combined view)\n      knowledge_base: data.knowledge_base || '',\n      knowledge_base_summary: (data.knowledge_base || '').substring(0, 2000),\n      website_url: data.website_url || '',\n      website_icon: data.favicon_url || '',\n      communication_tone: data.communication_tone || 'professional',\n      newsletter_instructions: data.newsletter_questions || '',\n\n      // Topics data (from combined view)\n      available_topics_display: data.available_topics_display || '',\n      available_topics_text: data.available_topics_text || '',\n      topics_with_questions: JSON.stringify(data.topics_with_questions || [], null, 2),\n      topics_questions_formatted: data.topics_questions_formatted || '',\n      topic_code_map: data.topic_code_map || {},\n      total_topics: data.total_topics || 7,\n\n      // Conversation state\n      conversation_state: JSON.stringify(defaultState, null, 2)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 300],
      "id": "code-prepare-data",
      "name": "Code - Prepare Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert B2B newsletter specialist helping users create multi-topic newsletters.\n\n---\n\n## YOUR TASK\n\nGuide users through multi-topic newsletter creation:\n1. Let them select 2-4 topics\n2. Ask questions for EACH selected topic (one question at a time)\n3. Track progress and show which topic/question they're on\n4. When all information is gathered, set Status to \"Ready\"\n\n---\n\n## STEP 1: TOPIC SELECTION (MULTI-SELECT)\n\n**CRITICAL: You MUST display the full topics list to the user.**\n\nWhen the user first messages (e.g., \"hi\", \"hello\", \"start\"), respond with:\n\nLet's create your newsletter! Please select 2-4 topics you'd like to include.\n\nType the numbers separated by commas (e.g., '1, 3, 5'):\n\n{{ $json.available_topics_display }}\n\n**IMPORTANT:**\n- You MUST copy and include the ENTIRE topics list from available_topics_display in your response\n- Do NOT just say \"select topics\" without showing them\n- The user cannot select topics if they don't see the list\n\n---\n\n## STEP 2: PARSE TOPIC SELECTION\n\nWhen user responds with numbers (e.g., \"1, 3, 5\"):\n1. Parse their selection\n2. Map numbers to topic codes using the topics list\n3. Confirm their selection\n4. Start asking questions for the FIRST selected topic\n\nExample response after selection:\nGreat choices! You've selected:\n- 📊 Industry Insights\n- 📚 Education / How-To Tips\n- 📅 Events & Announcements\n\nLet's start with **📊 Industry Insights** (Topic 1 of 3)\n\nQuestion 1: What industry are you operating in?\n\n---\n\n## STEP 3: GATHER INFORMATION\n\nFor each selected topic:\n- Show progress: \"**[Topic Name]** (Topic X of Y)\"\n- Ask questions ONE AT A TIME from topics_questions_formatted\n- Wait for user's answer before asking next question\n- After all questions for a topic, move to next topic\n\nExample mid-conversation:\nGot it!\n\nMoving to **📚 Education / How-To Tips** (Topic 2 of 3)\n\nQuestion 1: What problem or pain point does your audience commonly face?\n\n---\n\n## STEP 4: COMPLETION\n\nAfter all topics have been covered:\n1. Show brief summary\n2. Set Status to \"Ready\"\n\nExample:\nPerfect! I have all the information needed.\n\nSummary:\n- Industry Insights: SaaS trends for CTOs\n- Education: 5-step guide to automation\n- Events: Upcoming webinar announcement\n\nReady to generate your newsletter!\n\n---\n\n## AVAILABLE TOPICS & QUESTIONS\n\n{{ $json.topics_questions_formatted }}\n\n---\n\n## CURRENT STATE\n\n{{ $json.conversation_state }}\n\n---\n\n## USER'S MESSAGE\n\n{{ $json.user_mssg }}\n\n---\n\n## OUTPUT FORMAT (STRICT JSON)\n\n**ALWAYS respond with valid JSON in this exact format:**\n\n{\n  \"response\": \"Your message to the user - MUST include topics list when in topic_selection phase\",\n  \"Status\": \"Waiting\",\n  \"state\": {\n    \"phase\": \"topic_selection|gathering|ready\",\n    \"selected_topics\": [],\n    \"current_topic_index\": 0,\n    \"current_question_index\": 0,\n    \"answers\": {}\n  }\n}\n\n**Status values:**\n- \"Waiting\" - Still gathering information\n- \"Ready\" - All information collected, ready to generate\n\n**CRITICAL RULES:**\n1. Output ONLY valid JSON - no text before or after\n2. No markdown code blocks around the JSON\n3. In topic_selection phase, the response field MUST contain the full topics list\n4. Escape special characters properly in strings\n\n---\n\n## COMPANY CONTEXT\n\nWebsite: {{ $json.website_url }}\nKnowledge Base Summary: {{ $json.knowledge_base_summary }}\n\n---\n\n## EXAMPLE CONVERSATION\n\n**Turn 1 - User starts:**\nUser: \"hi\"\nResponse JSON:\n{\n  \"response\": \"Let's create your newsletter! Please select 2-4 topics you'd like to include.\\n\\nType the numbers separated by commas (e.g., '1, 3, 5'):\\n\\n1. 📊 Industry Insights - Share trends, analysis, and expert perspectives\\n2. 🏆 Customer Stories / Case Studies - Highlight success stories\\n3. 📚 Education / How-To Tips - Teach something valuable\\n4. 🔗 Curated Resources / Tools - Share useful articles and tools\\n5. 🎁 Promotions & Offers - Announce deals and discounts\\n6. 📅 Events & Announcements - Promote upcoming events\\n7. 🎬 Behind The Scenes - Share company culture and stories\",\n  \"Status\": \"Waiting\",\n  \"state\": {\n    \"phase\": \"topic_selection\",\n    \"selected_topics\": [],\n    \"current_topic_index\": 0,\n    \"current_question_index\": 0,\n    \"answers\": {}\n  }\n}\n\n**Turn 2 - User selects topics:**\nUser: \"1, 3, 6\"\nResponse JSON:\n{\n  \"response\": \"Great choices! You've selected:\\n- 📊 Industry Insights\\n- 📚 Education / How-To Tips\\n- 📅 Events & Announcements\\n\\nLet's start with **📊 Industry Insights** (Topic 1 of 3)\\n\\nQuestion 1: What industry are you operating in? (e.g., SaaS, Healthcare, Finance)\",\n  \"Status\": \"Waiting\",\n  \"state\": {\n    \"phase\": \"gathering\",\n    \"selected_topics\": [\"industry_insights\", \"education\", \"events\"],\n    \"current_topic_index\": 0,\n    \"current_question_index\": 0,\n    \"answers\": {\n      \"industry_insights\": {},\n      \"education\": {},\n      \"events\": {}\n    }\n  }\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [-360, 300],
      "id": "ai-agent-conversation",
      "name": "AI Agent - Conversation"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3-haiku",
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [-360, 520],
      "id": "llm-conversation",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code - Prepare Data').item.json.session_id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-140, 520],
      "id": "memory-conversation",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"response\": \"the response\",\n\"Status\": \"Waiting\",\n\"state\": {\n  \"phase\": \"topic_selection\",\n  \"selected_topics\": [],\n  \"current_topic_index\": 0,\n  \"current_question_index\": 0,\n  \"answers\": {}\n}\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-140, 720],
      "id": "output-parser",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-ready",
              "leftValue": "={{ $json.output.Status }}",
              "rightValue": "Ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [40, 300],
      "id": "if-ready",
      "name": "If Ready"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"user_id\":\"{{ $('Code - Prepare Data').item.json.user_id }}\",\n  \"session_id\":\"{{ $('Code - Prepare Data').item.json.session_id }}\",\n  \"agent_name\":\"newsletter\",\n  \"timestamp_of_call_made\":\"{{ new Date().toISOString() }}\",\n  \"request_id\":\"{{ $('Code - Prepare Data').item.json.request_id }}\",\n  \"agent_response\":{{ JSON.stringify($('AI Agent - Conversation').item.json.output.response) }},\n  \"agent_status\": \"Waiting\",\n  \"state\": {{ JSON.stringify($('AI Agent - Conversation').item.json.output.state) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [280, 420],
      "id": "respond-waiting",
      "name": "Respond - Waiting"
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for newsletter generation\nconst codeData = $('Code - Prepare Data').first().json;\nconst agentOutput = $('AI Agent - Conversation').first().json.output;\n\n// Parse state to get all answers\nconst state = agentOutput.state || {};\nconst allAnswers = state.answers || {};\nconst selectedTopics = state.selected_topics || [];\n\n// Parse topics_with_questions to get topic details\nlet topicsWithQuestions = [];\ntry {\n  topicsWithQuestions = JSON.parse(codeData.topics_with_questions);\n} catch (e) {\n  topicsWithQuestions = [];\n}\n\n// Map selected topics to their full details\nconst topicDetails = selectedTopics.map(topicCode => {\n  const topicInfo = topicsWithQuestions.find(t => t.topic_code === topicCode) || {};\n  return {\n    topic_code: topicCode,\n    topic_name: topicInfo.topic_name || topicCode,\n    emoji: topicInfo.emoji || '📧',\n    is_hero: selectedTopics.indexOf(topicCode) === 0,\n    answers: allAnswers[topicCode] || {},\n    questions: topicInfo.questions || []\n  };\n});\n\nreturn [\n  {\n    json: {\n      // Pass through identifiers\n      user_id: codeData.user_id,\n      session_id: codeData.session_id,\n      request_id: codeData.request_id,\n      \n      // Company context\n      website_url: codeData.website_url,\n      website_icon: codeData.website_icon,\n      communication_tone: codeData.communication_tone,\n      knowledge_base: codeData.knowledge_base,\n      newsletter_instructions: codeData.newsletter_instructions,\n      \n      // Selected topics and answers\n      selected_topics: selectedTopics,\n      all_answers: JSON.stringify(allAnswers, null, 2),\n      topic_details: JSON.stringify(topicDetails, null, 2)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 140],
      "id": "code-prepare-generation",
      "name": "Code - Prepare Generation"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a complete newsletter using the information gathered.\n\n## NEWSLETTER STRUCTURE\n\n### 1. HERO ARTICLE (300-400 words)\n- Use the FIRST selected topic as primary\n- Deep dive into the user's answers\n\n### 2. QUICK INSIGHTS (100-150 words each)\n- One for each ADDITIONAL selected topic\n- Summarize key points\n\n### 3. CTA SECTION (100-150 words)\n- Combine relevant calls-to-action\n\n### 4. FOOTER\n- Soft conclusion and brand signature\n\n---\n\n## SELECTED TOPICS\n{{ $json.selected_topics }}\n\n## TOPIC DETAILS WITH ANSWERS\n{{ $json.topic_details }}\n\n## ALL ANSWERS\n{{ $json.all_answers }}\n\n---\n\n## COMPANY CONTEXT\nWebsite: {{ $json.website_url }}\nLogo: {{ $json.website_icon }}\nTone: {{ $json.communication_tone }}\n\nKnowledge Base:\n{{ $json.knowledge_base }}\n\n---\n\n## INSTRUCTIONS\n{{ $json.newsletter_instructions }}\n\n---\n\n## CRITICAL RULES\n1. NO PLACEHOLDERS - Use actual content\n2. NO IMAGE PLACEHOLDERS - Only include logo if provided\n3. RESPONSIVE HTML - Works in email clients\n4. INLINE STYLES - Email clients strip external CSS\n\n## OUTPUT\nGenerate complete HTML newsletter.\nJust the HTML - nothing else.",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are an elite newsletter writer. Generate complete, professional HTML newsletters.\n\nOUTPUT ONLY THE HTML - no markdown code blocks, no explanations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [520, 140],
      "id": "ai-agent-generator",
      "name": "AI Agent - Generator"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3-haiku",
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [520, 360],
      "id": "llm-generator",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Clean the HTML output\nreturn items.map(item => {\n  let raw = item.json.output;\n\n  if (!raw) {\n    return { json: { error: 'No output field found' } };\n  }\n\n  // Remove markdown code block markers\n  const cleaned = raw\n    .replace(/^```html\\s*/, '')\n    .replace(/^```\\s*/, '')\n    .replace(/```$/, '')\n    .trim();\n\n  return {\n    json: {\n      Newsletter_HTML: cleaned\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 140],
      "id": "code-clean-html",
      "name": "Code - Clean HTML"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"user_id\":\"{{ $('Code - Prepare Data').item.json.user_id }}\",\n  \"session_id\":\"{{ $('Code - Prepare Data').item.json.session_id }}\",\n  \"agent_name\":\"newsletter\",\n  \"timestamp_of_call_made\":\"{{ new Date().toISOString() }}\",\n  \"request_id\":\"{{ $('Code - Prepare Data').item.json.request_id }}\",\n  \"agent_response\":{{ JSON.stringify($json.Newsletter_HTML) }},\n  \"agent_status\": \"Ready\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 140],
      "id": "respond-ready",
      "name": "Respond - Ready"
    },
    {
      "parameters": {
        "content": "## Multi-Topic Newsletter Workflow (Simplified)\n\n**Flow:**\n1. Webhook receives request\n2. Single Supabase query (vw_newsletter_multi_topic_llm)\n3. AI Agent guides multi-topic selection\n4. Gather answers for each topic\n5. When Ready, generate combined newsletter\n\n**Single Query Returns:**\n- KB data (knowledge_base, website_url, etc.)\n- Topics data (available_topics_display, etc.)",
        "height": 320,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1600, 100],
      "id": "sticky-info",
      "name": "Sticky Note - Info"
    },
    {
      "parameters": {
        "content": "## N8N Query\n\n```sql\nSELECT * \nFROM vw_newsletter_multi_topic_llm\nWHERE user_id = '{{ user_id }}'\nLIMIT 1\n```\n\nReturns ALL data in one query!",
        "height": 220,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1600, 460],
      "id": "sticky-query",
      "name": "Sticky Note - Query"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase - Get All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get All Data": {
      "main": [
        [
          {
            "node": "Code - Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Data": {
      "main": [
        [
          {
            "node": "AI Agent - Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Conversation": {
      "main": [
        [
          {
            "node": "If Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Conversation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Conversation",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent - Generator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Conversation",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If Ready": {
      "main": [
        [
          {
            "node": "Code - Prepare Generation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Waiting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Generation": {
      "main": [
        [
          {
            "node": "AI Agent - Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Generator": {
      "main": [
        [
          {
            "node": "Code - Clean HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code - Clean HTML": {
      "main": [
        [
          {
            "node": "Respond - Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
