n8n/project_architect_workflow.json
{
  "name": "SW | Project Architect Agent v1",
  "nodes": [
    {
      "id": "webhook-pa",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1200, 304],
      "parameters": {
        "httpMethod": "POST",
        "path": "project_architect",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "code-prepare-data",
      "name": "Code - Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 304],
      "parameters": {
        "jsCode": "const webhookBody = $input.first().json.body;\n\n// Extract fields\nconst user_id = webhookBody.user_id || '';\nconst session_id = webhookBody.session_id || '';\nconst user_mssg = webhookBody.user_mssg || '';\nconst request_id = webhookBody.request_id || '';\n\n// Parse conversation state\nlet incomingState = {};\ntry {\n  const rawState = webhookBody.state || webhookBody.conversation_state;\n  if (rawState) {\n    incomingState = typeof rawState === 'string' ? JSON.parse(rawState) : rawState;\n  }\n} catch(e) {\n  incomingState = {};\n}\n\nconst topic = incomingState.topic || 'general';\nconst filesDiscussed = incomingState.files_discussed || [];\nconst context = incomingState.context || {};\n\n// Build conversation context summary\nlet contextSummary = '';\nif (topic !== 'general') {\n  contextSummary = `\\n\\nCONVERSATION CONTEXT: Topic is ${topic}.`;\n  if (filesDiscussed.length > 0) {\n    contextSummary += ` Files discussed: ${filesDiscussed.join(', ')}.`;\n  }\n}\n\nreturn [{\n  json: {\n    user_id,\n    session_id,\n    user_mssg,\n    request_id,\n    conversation_state: JSON.stringify(incomingState),\n    context_summary: contextSummary\n  }\n}];"
      }
    },
    {
      "id": "ai-agent-pa",
      "name": "AI Agent - Project Architect",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [-480, 304],
      "parameters": {
        "promptType": "define",
        "text": "=You are the **Project Architect**, an internal admin-only agent for the Squidgy AI platform.\n\nYour role is to help admins understand the platform architecture, plan new features and agents, and debug cross-project issues.\n\nYou have deep knowledge of:\n- **Frontend** (squidgy_updated_ui): React 18 + Vite + Express 5, 52 UI components, 31 services, Supabase auth\n- **Backend** (squidgy_updated_backend): FastAPI monolith (main.py, 9338 lines), 75 endpoints, dual-DB (Supabase + Neon pgvector), Heroku deployment\n- **Agent Builder** (squidgy_agent_builder): TypeScript CLI, YAML configs, N8N 10-node workflow generation, Pia routing\n- **Shared Infrastructure**: Supabase (auth+DB), Neon (vector search), N8N (workflow engine)\n\n**CRITICAL RULES:**\n1. Never modify a working N8N workflow directly - duplicate first\n2. Status has capital S in output parser schema\n3. state is lowercase everywhere (not conversation_state)\n4. Supabase: use getAll not get (get crashes on no row)\n5. N8N webhooks: /webhook/ not /webhook-test/ in production\n6. Run build-agents.js after any YAML config change\n7. After updating Pia's system prompt, restart her N8N workflow\n8. N8N API cannot set credentials or activate workflows - UI only\n9. Chat messages go directly to N8N, not through Python backend\n10. Knowledge base queries from N8N DO go through Python backend\n\n**KEY FILE LOCATIONS:**\n- Agent configs: squidgy_updated_ui/agents/configs/*.yaml\n- Knowledge base: squidgy_updated_ui/knowledge_base/agents/{agent_id}/\n- N8N workflows: squidgy_updated_ui/n8n/\n- Pia system prompt: squidgy_updated_ui/knowledge_base/agents/personal_assistant/system_prompt.md\n- Agent builder service: squidgy_agent_builder/src/services/agentBuilderService.ts\n- Build agents script: squidgy_agent_builder/scripts/build-agents.js\n- Backend monolith: squidgy_updated_backend/main.py\n\n**AGENT CREATION PIPELINE:**\n1. Generate YAML config → agents/configs/{id}.yaml\n2. Generate N8N workflow → n8n/{id}_workflow.json\n3. Update Pia system_prompt.md (3 tables: Agent Relevance Rules ~line 215, Agent IDs ~line 262, Routing ~line 284)\n4. Deploy workflow to N8N via API\n5. Set credentials in N8N UI (API can't do this)\n6. Run build-agents.js to sync frontend\n7. Activate workflow in N8N UI\n\n**N8N 10-NODE AGENT PATTERN:**\nWebhook → Supabase (getAll) → Code (prepare) → AI Agent (+ OpenRouter + Memory + Output Parser) → If Ready → 2x Respond\n- Output parser schema: { response, Status: \"Waiting\"|\"Ready\", state }\n- Respond body: $('Code - Prepare Data').item.json.* for IDs, $('AI Agent').item.json.output.* for AI\n- Respond node: respondWith: \"json\", typeVersion: 1.1\n\n**INSTRUCTIONS:**\n- Be precise and reference specific file paths\n- When discussing code changes, list exact files that need modification\n- For new agent planning, provide the full checklist\n- For debugging, ask systematic questions about which nodes executed\n- Maintain topic and files_discussed in conversation state\n- Set Status to \"Waiting\" for ongoing conversations, \"Ready\" only when a task is complete\n{{ $json.context_summary }}\n\nUser message: {{ $json.user_mssg }}",
        "hasOutputParser": true,
        "options": {}
      }
    },
    {
      "id": "llm-pa",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [-480, 528],
      "parameters": {
        "model": "anthropic/claude-3-5-sonnet",
        "options": {
          "responseFormat": "text"
        }
      },
      "credentials": {
        "openRouterApi": {
          "id": "URFwjDUtOcJ7IgkA",
          "name": "OpenRouter SW-Squidgy-Local"
        }
      }
    },
    {
      "id": "memory-pa",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-256, 528],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code - Prepare Data').item.json.session_id }}",
        "contextWindowLength": 100
      }
    },
    {
      "id": "output-parser-pa",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-256, 720],
      "parameters": {
        "jsonSchemaExample": "{\n\"response\": \"the response to the user\",\n\"Status\": \"Waiting\",\n\"state\": {\n  \"topic\": \"architecture\",\n  \"files_discussed\": [\"main.py\", \"agentBuilderService.ts\"],\n  \"context\": {\n    \"current_discussion\": \"discussing backend API structure\"\n  }\n}\n}",
        "autoFix": true
      }
    },
    {
      "id": "if-ready",
      "name": "If Ready",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-96, 304],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-ready",
              "leftValue": "={{ $json.output.Status }}",
              "rightValue": "Ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-ready",
      "name": "Respond - Ready",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [144, 144],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"user_id\":\"{{ $('Code - Prepare Data').item.json.user_id }}\",\n  \"session_id\":\"{{ $('Code - Prepare Data').item.json.session_id }}\",\n  \"agent_name\":\"project_architect\",\n  \"timestamp_of_call_made\":\"{{ new Date().toISOString() }}\",\n  \"request_id\":\"{{ $('Code - Prepare Data').item.json.request_id }}\",\n  \"agent_response\":{{ JSON.stringify($('AI Agent - Project Architect').item.json.output.response) }},\n  \"agent_status\": \"Ready\",\n  \"state\": {{ JSON.stringify($('AI Agent - Project Architect').item.json.output.state) }}\n}",
        "options": {}
      }
    },
    {
      "id": "respond-waiting",
      "name": "Respond - Waiting",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [144, 432],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"user_id\":\"{{ $('Code - Prepare Data').item.json.user_id }}\",\n  \"session_id\":\"{{ $('Code - Prepare Data').item.json.session_id }}\",\n  \"agent_name\":\"project_architect\",\n  \"timestamp_of_call_made\":\"{{ new Date().toISOString() }}\",\n  \"request_id\":\"{{ $('Code - Prepare Data').item.json.request_id }}\",\n  \"agent_response\":{{ JSON.stringify($('AI Agent - Project Architect').item.json.output.response) }},\n  \"agent_status\": \"Waiting\",\n  \"state\": {{ JSON.stringify($('AI Agent - Project Architect').item.json.output.state) }}\n}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code - Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Data": {
      "main": [
        [
          {
            "node": "AI Agent - Project Architect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Project Architect": {
      "main": [
        [
          {
            "node": "If Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Project Architect",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Project Architect",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - Project Architect",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If Ready": {
      "main": [
        [
          {
            "node": "Respond - Ready",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Waiting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
