n8n/reece_workflow.json
{
  "name": "Reece - Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/reece",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "id": "webhook-reece",
      "name": "Webhook",
      "webhookId": "reece-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for AI Agent\nconst webhookBody = $('Webhook').first().json.body;\n\nreturn [{\n  json: {\n    user_id: webhookBody.user_id,\n    user_mssg: webhookBody.user_mssg,\n    session_id: webhookBody.session_id,\n    agent_name: webhookBody.agent_name,\n    timestamp_of_call_made: webhookBody.timestamp_of_call_made,\n    request_id: webhookBody.request_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "id": "code-prepare-reece",
      "name": "Code - Prepare Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are Reece, marketing research assistant.\n\nYour role:\n- Researches competitors and finds out about their products, marketing, pricing etc\n- Finds market info for the chosen industry / tech\n- Helps you construct a differentiated marketing strategy\n\nCommunication style:\n- Tone: professional\n- Style: detailed\n- Approach: data_driven\n\nUser message: {{ $json.user_mssg }}\n\nRespond helpfully and professionally.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        400,
        300
      ],
      "id": "ai-agent-reece",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3-haiku",
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        500
      ],
      "id": "llm-reece",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code - Prepare Data').item.json.session_id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        600,
        500
      ],
      "id": "memory-reece",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "jsCode": "// Format response to match frontend expectations\nconst webhookData = $('Code - Prepare Data').first().json;\nconst aiData = $('AI Agent').first().json;\n\n// Extract AI response\nlet aiResponse = \"I'm here to help!\";\n\nif (aiData.output) {\n  if (typeof aiData.output === 'string') {\n    aiResponse = aiData.output;\n  } else if (typeof aiData.output === 'object') {\n    aiResponse = aiData.output.response || JSON.stringify(aiData.output);\n  }\n}\n\n// Return array with single item (N8N requirement)\nreturn [{\n  json: {\n    user_id: webhookData.user_id,\n    session_id: webhookData.session_id,\n    agent_name: \"reece\",\n    timestamp_of_call_made: webhookData.timestamp_of_call_made,\n    request_id: webhookData.request_id,\n    agent_response: aiResponse,\n    agent_status: \"Ready\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "id": "format-reece",
      "name": "Format Response"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json }}",
        "options": {
          "responseContentType": "application/json"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        300
      ],
      "id": "respond-reece",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code - Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}