n8n/workflows_backup_v3_LAST_KNOWN_GOOD.json
{
  "name": "SW | N8N Squidgy Exports v3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-800, 0],
      "id": "a1000001-0001-4000-8000-000000000001",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-800, 200],
      "id": "a1000001-0001-4000-8000-000000000002",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "url": "https://n8n.theaiteam.uk/api/v1/workflows?limit=250",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4NzhiY2ExNi1kZjY0LTRkNzktOWY3Yi03MzRjZjc0N2RlMzMiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYzNTIzMDI2fQ.rZf7K0MZtuqXJFeT9GFz8oCKqgJyfLm5qRHXwwK79Vw"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-560, 0],
      "id": "a1000001-0001-4000-8000-000000000003",
      "name": "List All Workflows"
    },
    {
      "parameters": {
        "jsCode": "// Filter to Squidgy workflows updated today\nconst input = $input.first().json;\nconst workflows = Array.isArray(input.data) ? input.data : (Array.isArray(input) ? input : []);\n\n// --- SQUIDGY FILTER ---\nconst PREFIXES = [\n  'SA ', 'SA|', 'SA_', 'SA-',\n  'SW ', 'SW|', 'SW_',\n  'CRA',\n  'FK ', 'FK|', 'FK_', 'FK-',\n  'CR ', 'CR|', 'CR_',\n  'FA ', 'FA|',\n  'ALG',\n  'Brandy', 'Punk Branding', 'DONT ACTIVATE',\n  'Templated.io', 'April',\n];\nconst KEYWORDS = ['squidgy', 'brandy', 'social media mcp'];\n\nfunction isSquidgy(wf) {\n  const tags = (wf.tags || []).map(t => t.name || '');\n  if (tags.includes('Squidgy')) return true;\n  const name = wf.name || '';\n  for (const p of PREFIXES) {\n    if (name.startsWith(p)) return true;\n  }\n  const lower = name.toLowerCase();\n  for (const kw of KEYWORDS) {\n    if (lower.includes(kw)) return true;\n  }\n  return false;\n}\n\n// --- DATE FILTER ---\nconst now = new Date();\nconst today = `${now.getUTCFullYear()}-${String(now.getUTCMonth() + 1).padStart(2, '0')}-${String(now.getUTCDate()).padStart(2, '0')}`;\n\nconst results = workflows\n  .filter(wf => {\n    if (!isSquidgy(wf)) return false;\n    const updatedAt = wf.updatedAt || wf.updated_at;\n    if (!updatedAt) return false;\n    const d = new Date(updatedAt);\n    const updatedDate = `${d.getUTCFullYear()}-${String(d.getUTCMonth() + 1).padStart(2, '0')}-${String(d.getUTCDate()).padStart(2, '0')}`;\n    return updatedDate === today;\n  })\n  .map(wf => ({ json: { id: wf.id, name: wf.name } }));\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 0],
      "id": "a1000001-0001-4000-8000-000000000004",
      "name": "Filter Squidgy Updates"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [0, 0],
      "id": "a1000001-0001-4000-8000-000000000006",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://n8n.theaiteam.uk/api/v1/workflows/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4NzhiY2ExNi1kZjY0LTRkNzktOWY3Yi03MzRjZjc0N2RlMzMiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYzNTIzMDI2fQ.rZf7K0MZtuqXJFeT9GFz8oCKqgJyfLm5qRHXwwK79Vw"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [240, 60],
      "id": "a1000001-0001-4000-8000-000000000007",
      "name": "Get Full Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Format workflow as named JSON and prepare for file conversion\nconst wf = $input.first().json;\n\nconst workflowName = wf.name || `workflow_${wf.id || Date.now()}`;\nconst sanitized = workflowName.replace(/[^a-zA-Z0-9_\\s-]/g, '').replace(/\\s+/g, '_').toLowerCase();\nconst fileName = `squidgy_${sanitized}.json`;\n\nreturn [{\n  json: {\n    fileName,\n    filePath: `From_N8N_Scheduler/${fileName}`,\n    workflow_json: wf\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 60],
      "id": "a1000001-0001-4000-8000-000000000008",
      "name": "Format Workflow JSON"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true,
          "fileName": "={{ $json.fileName }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [720, 60],
      "id": "a1000001-0001-4000-8000-000000000020",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": "Squidgy-AI"
        },
        "repository": {
          "__rl": true,
          "value": "N8N-Workflows",
          "mode": "list",
          "cachedResultName": "N8N-Workflows",
          "cachedResultUrl": "https://github.com/Squidgy-AI/N8N-Workflows"
        },
        "filePath": "={{ $('Format Workflow JSON').first().json.filePath }}",
        "binaryData": true,
        "commitMessage": "=Backup {{ $('Format Workflow JSON').first().json.fileName }} on {{ $today }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [960, 0],
      "id": "a1000001-0001-4000-8000-000000000021",
      "name": "GitHub Edit",
      "onError": "continueErrorOutput",
      "credentials": {
        "githubApi": {
          "id": "btRYHL7BV2Qz6u3V",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Re-attach binary data from Convert to File (lost in error output path)\nconst item = $('Convert to File').first();\nreturn [{\n  json: item.json,\n  binary: item.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 200],
      "id": "a1000001-0001-4000-8000-000000000023",
      "name": "Restore Binary"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": "Squidgy-AI"
        },
        "repository": {
          "__rl": true,
          "value": "N8N-Workflows",
          "mode": "list",
          "cachedResultName": "N8N-Workflows",
          "cachedResultUrl": "https://github.com/Squidgy-AI/N8N-Workflows"
        },
        "filePath": "={{ $('Format Workflow JSON').first().json.filePath }}",
        "binaryData": true,
        "commitMessage": "=Backup {{ $('Format Workflow JSON').first().json.fileName }} on {{ $today }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [1200, 200],
      "id": "a1000001-0001-4000-8000-000000000022",
      "name": "GitHub Create",
      "credentials": {
        "githubApi": {
          "id": "btRYHL7BV2Qz6u3V",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1200, 60],
      "id": "a1000001-0001-4000-8000-000000000017",
      "name": "Wait 1s",
      "webhookId": "wait-backup-loop"
    },
    {
      "parameters": {
        "jsCode": "// Summary\nconst filterNode = $('Filter Squidgy Updates').all();\nconst count = filterNode.filter(item => item.json.id).length;\nconst names = filterNode.filter(item => item.json.id).map(item => item.json.name).join(', ');\nreturn [{ json: { count, names, today: new Date().toISOString().split('T')[0] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, -160],
      "id": "a1000001-0001-4000-8000-000000000014",
      "name": "Build Summary"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "List All Workflows", "type": "main", "index": 0 }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          { "node": "List All Workflows", "type": "main", "index": 0 }
        ]
      ]
    },
    "List All Workflows": {
      "main": [
        [
          { "node": "Filter Squidgy Updates", "type": "main", "index": 0 }
        ]
      ]
    },
    "Filter Squidgy Updates": {
      "main": [
        [
          { "node": "Loop Over Items", "type": "main", "index": 0 }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          { "node": "Build Summary", "type": "main", "index": 0 }
        ],
        [
          { "node": "Get Full Workflow", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Full Workflow": {
      "main": [
        [
          { "node": "Format Workflow JSON", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format Workflow JSON": {
      "main": [
        [
          { "node": "Convert to File", "type": "main", "index": 0 }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          { "node": "GitHub Edit", "type": "main", "index": 0 }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          { "node": "Wait 1s", "type": "main", "index": 0 }
        ],
        [
          { "node": "Restore Binary", "type": "main", "index": 0 }
        ]
      ]
    },
    "Restore Binary": {
      "main": [
        [
          { "node": "GitHub Create", "type": "main", "index": 0 }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          { "node": "Wait 1s", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 1s": {
      "main": [
        [
          { "node": "Loop Over Items", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}