n8n_workflows/SA_File_Upload.json
{
  "name": "SA_File_Upload",
  "nodes": [
    {
      "parameters": {
        "content": "## SA_File_Upload Workflow\n\nProcess uploaded files and store in KB.\n\n### Supported:\n- .txt, .md (text files)\n- .pdf (requires extraction)\n- .json (structured data)\n\n### Flow:\n1. Receive file URL/base64\n2. Detect file type\n3. Extract text content\n4. Chunk if needed\n5. Embed and store in KB",
        "height": 200,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [32, 32],
      "typeVersion": 1,
      "id": "note-overview",
      "name": "Overview"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "userID", "type": "string" },
            { "name": "file_url", "type": "string" },
            { "name": "file_name", "type": "string" },
            { "name": "file_type", "type": "string" },
            { "name": "category", "type": "string" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [32, 280],
      "id": "trigger",
      "name": "When Called"
    },
    {
      "parameters": {
        "url": "={{ $json.file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [280, 280],
      "id": "fetch-file",
      "name": "Fetch File",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $('When Called').first().json;\nconst fileContent = $input.first().json.data || $input.first().json.body || '';\nconst fileType = input.file_type?.toLowerCase() || '';\nconst fileName = input.file_name || 'uploaded_file';\n\nlet textContent = '';\n\n// Handle different file types\nif (fileType === 'txt' || fileType === 'md' || fileType === 'text/plain' || fileType === 'text/markdown') {\n  textContent = typeof fileContent === 'string' ? fileContent : JSON.stringify(fileContent);\n} else if (fileType === 'json' || fileType === 'application/json') {\n  try {\n    const parsed = typeof fileContent === 'string' ? JSON.parse(fileContent) : fileContent;\n    textContent = JSON.stringify(parsed, null, 2);\n  } catch (e) {\n    textContent = String(fileContent);\n  }\n} else if (fileType === 'pdf' || fileType === 'application/pdf') {\n  // PDF extraction would need a separate service\n  // For now, mark as needing processing\n  textContent = `[PDF File: ${fileName} - Content extraction pending]`;\n} else {\n  textContent = String(fileContent);\n}\n\n// Prepare for embedding\nconst documentText = `File: ${fileName}\\nType: ${fileType}\\n\\n${textContent}`;\n\nreturn {\n  json: {\n    userID: input.userID,\n    category: input.category || 'documents',\n    file_name: fileName,\n    file_type: fileType,\n    content: documentText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 280],
      "id": "process-file",
      "name": "Process File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [660, 460],
      "id": "embeddings",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xeFNBBSMiFQf7cQv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [740, 280],
      "id": "store-vectors",
      "name": "Store in KB",
      "credentials": {
        "postgres": {
          "id": "9VZuQcfK90oMX16w",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Process File').item.json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "user_id",
                "value": "={{ $('Process File').item.json.userID }}"
              },
              {
                "name": "category",
                "value": "={{ $('Process File').item.json.category }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Process File').item.json.file_name }}"
              },
              {
                "name": "file_type",
                "value": "={{ $('Process File').item.json.file_type }}"
              },
              {
                "name": "timestamp",
                "value": "={{ new Date().toISOString() }}"
              },
              {
                "name": "source",
                "value": "file_upload"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [880, 460],
      "id": "data-loader",
      "name": "Data Loader"
    },
    {
      "parameters": {
        "jsCode": "const processed = $('Process File').first().json;\n\nreturn {\n  json: {\n    success: true,\n    action: 'file_uploaded',\n    user_id: processed.userID,\n    file_name: processed.file_name,\n    file_type: processed.file_type,\n    category: processed.category,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 280],
      "id": "response",
      "name": "Response"
    }
  ],
  "connections": {
    "When Called": {
      "main": [[{ "node": "Fetch File", "type": "main", "index": 0 }]]
    },
    "Fetch File": {
      "main": [[{ "node": "Process File", "type": "main", "index": 0 }]]
    },
    "Process File": {
      "main": [[{ "node": "Store in KB", "type": "main", "index": 0 }]]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [[{ "node": "Store in KB", "type": "ai_embedding", "index": 0 }]]
    },
    "Data Loader": {
      "ai_document": [[{ "node": "Store in KB", "type": "ai_document", "index": 0 }]]
    },
    "Store in KB": {
      "main": [[{ "node": "Response", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "1.0.0",
  "meta": { "templateCredsSetupCompleted": true },
  "id": "SA_File_Upload",
  "tags": []
}
