n8n_workflows/SA_Knowledge_Base_Save.json
{
  "name": "SA_Knowledge_Base_Save",
  "nodes": [
    {
      "parameters": {
        "content": "## SA_Knowledge_Base_Save Workflow\n\nWebhook-triggered workflow for saving user knowledge to Neon Postgres.\nCalled from:\n- Agent Settings page (text input, fire-and-forget)\n- Backend /api/file/process (extracted file text, after PDF/DOCX/etc extraction)\n\n### Accepts:\n- user_id, agent_id, type='text', content, category\n\n### Flow:\n1. Receive webhook POST with text content\n2. Prepare document for embedding\n3. Generate embedding (OpenRouter text-embedding-3-small)\n4. INSERT into user_vector_knowledge_base (Neon)\n5. Return success response\n\n### Table: user_vector_knowledge_base\nColumns: user_id, document, category, embedding, source\n\n### Note:\nFile extraction (PDF, DOCX, JSON, etc.) is handled by the backend\n(/api/file/process) BEFORE calling this webhook. This workflow\nonly deals with text content → embedding → storage.",
        "height": 640,
        "width": 420,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "b702e07a-41ba-48f2-b031-2b767064a406",
      "name": "Overview"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "save-knowledge",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        480,
        272
      ],
      "id": "f48b0063-58b9-4122-b166-419db09fdadf",
      "name": "Webhook",
      "webhookId": "save-knowledge"
    },
    {
      "parameters": {
        "jsCode": "// Process incoming content (text from frontend or extracted file text from backend)\nconst webhook = $('Webhook').first().json.body;\n\nconst document = webhook.content || '';\nconst userId = webhook.user_id || '';\nconst agentId = webhook.agent_id || 'personal_assistant';\nconst category = webhook.category || 'custom_instructions';\nconst source = webhook.type === 'file' ? 'file_upload' : 'agent_settings';\n\nif (!document.trim()) {\n  throw new Error('No content provided');\n}\n\nreturn {\n  json: {\n    user_id: userId,\n    agent_id: agentId,\n    category: category,\n    document: document.trim(),\n    source: source\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        272
      ],
      "id": "26334908-775c-40f4-9b88-a7294cf31bce",
      "name": "Process Content"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer OPENROUTER_API_KEY_REDACTED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "openai/text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $('Process Content').item.json.document }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        272
      ],
      "id": "eb2a6e92-99a9-4a9d-8202-52354aad7b6a",
      "name": "Get Embedding"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.user_vector_knowledge_base (user_id, document, category, embedding, source)\nVALUES (\n  '{{ $('Process Content').item.json.user_id }}',\n  '{{ $('Process Content').item.json.document.replace(/'/g, \"''\").replace(/\\n/g, ' ') }}',\n  '{{ $('Process Content').item.json.category }}',\n  '{{ JSON.stringify($json.data[0].embedding) }}',\n  '{{ $('Process Content').item.json.source }}'\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1152,
        272
      ],
      "id": "7a106108-f513-4d8d-8db4-1e8449536fa0",
      "name": "Insert to Neon",
      "credentials": {
        "postgres": {
          "id": "9VZuQcfK90oMX16w",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Process Content').first().json;\nconst inserted = $input.first().json;\n\nreturn {\n  json: {\n    success: true,\n    action: 'knowledge_saved',\n    user_id: trigger.user_id,\n    agent_id: trigger.agent_id,\n    category: trigger.category,\n    source: trigger.source,\n    inserted_id: inserted?.id || null,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        272
      ],
      "id": "b4558d59-ce3d-4ea6-857b-f9d3dc1d50c7",
      "name": "Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Content": {
      "main": [
        [
          {
            "node": "Get Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Embedding": {
      "main": [
        [
          {
            "node": "Insert to Neon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Neon": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6723169a-767e-4497-88fc-d7e02ab9bc0d",
  "meta": {
    "instanceId": "009acbaf56d9d6ab6c0c4e58e15e5428df45ae91e46a81964523fc4b2264aced"
  },
  "id": "44ANuNS1PnXTlyIf",
  "tags": []
}
