n8n_workflows/SA_KB_Update.json
{
  "name": "SA_KB_Update",
  "nodes": [
    {
      "parameters": {
        "content": "## SA_KB_Update Workflow\n\nGranular KB update - finds and replaces specific content.\n\n### Table: user_vector_knowledge_base\n\n### Flow:\n1. Search for matching content\n2. Delete only matching rows\n3. Generate embedding\n4. Insert updated content\n\n### Called By:\n- Personal Assistant (Update KB tool)",
        "height": 392,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        0
      ],
      "typeVersion": 1,
      "id": "71bb8704-67a0-4e6e-9c33-e7006f1f9980",
      "name": "Overview"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userID"
            },
            {
              "name": "category"
            },
            {
              "name": "old_content"
            },
            {
              "name": "new_content"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -112,
        208
      ],
      "id": "2eedd927-ad20-4636-bd48-08cfd84b7ae3",
      "name": "When Called"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.user_vector_knowledge_base \nWHERE user_id = '{{ $json.userID }}'\nAND category = '{{ $json.category }}'\nAND document ILIKE '%' || '{{ $json.old_content }}' || '%'\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        144,
        208
      ],
      "id": "02cd93ce-624e-476f-864f-04c47235f69f",
      "name": "Delete Matching Entry",
      "credentials": {
        "postgres": {
          "id": "9VZuQcfK90oMX16w",
          "name": "Neon Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "openai/text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $('When Called').item.json.new_content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        208
      ],
      "id": "ce848dcb-5924-4ee3-b0e0-90a61ee12a21",
      "name": "Get Embedding (OpenRouter)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.user_vector_knowledge_base (user_id, document, category, embedding, source)\nVALUES (\n  '{{ $('When Called').item.json.userID }}',\n  '{{ $('When Called').item.json.new_content.replace(/'/g, \"''\") }}',\n  '{{ $('When Called').item.json.category }}',\n  '{{ JSON.stringify($json.data[0].embedding) }}',\n  'update'\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        208
      ],
      "id": "3431fd16-c6de-433c-8705-4929b5be9a7d",
      "name": "Insert Updated Content",
      "credentials": {
        "postgres": {
          "id": "9VZuQcfK90oMX16w",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    success: true,\n    action: 'kb_update',\n    user_id: $('When Called').first().json.userID,\n    category: $('When Called').first().json.category,\n    old_content: $('When Called').first().json.old_content,\n    new_content: $('When Called').first().json.new_content,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        208
      ],
      "id": "5ad1f0f8-130b-4f76-a05d-01b4220fda35",
      "name": "Response"
    }
  ],
  "pinData": {},
  "connections": {
    "When Called": {
      "main": [
        [
          {
            "node": "Delete Matching Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Updated Content": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Matching Entry": {
      "main": [
        [
          {
            "node": "Get Embedding (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Embedding (OpenRouter)": {
      "main": [
        [
          {
            "node": "Insert Updated Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d853b44-6074-4b57-842b-1c415827e55b",
  "meta": {
    "instanceId": "009acbaf56d9d6ab6c0c4e58e15e5428df45ae91e46a81964523fc4b2264aced"
  },
  "id": "aDM99m2gYlQJexdF",
  "tags": []
}