n8n_workflows/SA_KB_Update.json
{
  "name": "SA_KB_Update",
  "nodes": [
    {
      "parameters": {
        "content": "## SA_KB_Update Workflow\n\nGranular KB update - finds and replaces specific content.\n\n### Table: user_vector_knowledge_base\n\n### Flow:\n1. Search for matching content\n2. Delete only matching rows\n3. Generate embedding\n4. Insert updated content\n\n### Called By:\n- Personal Assistant (Update KB tool)",
        "height": 392,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        80
      ],
      "typeVersion": 1,
      "id": "95d52b6c-08e6-4ce8-a972-f95db9e1a646",
      "name": "Overview"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userID"
            },
            {
              "name": "category"
            },
            {
              "name": "old_content"
            },
            {
              "name": "new_content"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1072,
        288
      ],
      "id": "d1a58dae-fc6b-445d-b911-e73ec3346406",
      "name": "When Called"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.user_vector_knowledge_base \nWHERE user_id = '{{ $json.userID }}'\nAND category = '{{ $json.category }}'\nAND document ILIKE '%' || '{{ $json.old_content }}' || '%'\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1328,
        288
      ],
      "id": "91b54298-a26e-4589-8579-bdb54453b2d4",
      "name": "Delete Matching Entry",
      "credentials": {
        "postgres": {
          "id": "9VZuQcfK90oMX16w",
          "name": "Neon Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "openai/text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $('When Called').item.json.new_content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1552,
        288
      ],
      "id": "f976c523-80db-434e-94f5-3fde5138c901",
      "name": "Get Embedding (OpenRouter)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.user_vector_knowledge_base (user_id, document, category, embedding, source)\nVALUES (\n  '{{ $('When Called').item.json.userID }}',\n  '{{ $('When Called').item.json.new_content.replace(/'/g, \"''\") }}',\n  '{{ $('When Called').item.json.category }}',\n  '{{ JSON.stringify($json.data[0].embedding) }}',\n  'update'\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        288
      ],
      "id": "864ab3ca-8f77-44ee-8f9f-a385630ac9a8",
      "name": "Insert Updated Content",
      "credentials": {
        "postgres": {
          "id": "9VZuQcfK90oMX16w",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    success: true,\n    action: 'kb_update',\n    user_id: $('When Called').first().json.userID,\n    category: $('When Called').first().json.category,\n    old_content: $('When Called').first().json.old_content,\n    new_content: $('When Called').first().json.new_content,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        288
      ],
      "id": "31c4b73e-9c15-449c-839e-d213444dbf36",
      "name": "Response"
    }
  ],
  "pinData": {},
  "connections": {
    "When Called": {
      "main": [
        [
          {
            "node": "Delete Matching Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Updated Content": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Matching Entry": {
      "main": [
        [
          {
            "node": "Get Embedding (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Embedding (OpenRouter)": {
      "main": [
        [
          {
            "node": "Insert Updated Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c5921613-8e3b-4d49-94e9-db89d56dd823",
  "meta": {
    "instanceId": "009acbaf56d9d6ab6c0c4e58e15e5428df45ae91e46a81964523fc4b2264aced"
  },
  "id": "aDM99m2gYlQJexdF",
  "tags": []
}