n8n_workflows/SA_KB_Delete.json
{
  "name": "SA_KB_Delete",
  "nodes": [
    {
      "parameters": {
        "content": "## SA_KB_Delete Workflow\n\nDelete specific content from KB.\n\n### Table: user_vector_knowledge_base\n\n### Flow:\n1. Search for matching content by text\n2. Delete matching rows\n\n### Called By:\n- Personal Assistant (Delete from KB tool)",
        "height": 340,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        0
      ],
      "typeVersion": 1,
      "id": "1beb6901-8be4-4756-bf90-1b6c46dc6baf",
      "name": "Overview"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userID"
            },
            {
              "name": "category"
            },
            {
              "name": "content_to_delete"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        112,
        208
      ],
      "id": "a44bb076-1ca0-45dd-aa39-11f4db109fa2",
      "name": "When Called"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.user_vector_knowledge_base \nWHERE user_id = '{{ $json.userID }}'\nAND category = '{{ $json.category }}'\nAND document ILIKE '%' || '{{ $json.content_to_delete }}' || '%'\nRETURNING id, document;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        208
      ],
      "id": "60c94126-4d0c-4b3b-9b68-f25d9228f526",
      "name": "Delete Matching Content",
      "credentials": {
        "postgres": {
          "id": "9VZuQcfK90oMX16w",
          "name": "Neon Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const deleted = $input.all();\nconst deletedCount = deleted.length;\n\nreturn {\n  json: {\n    success: true,\n    action: 'kb_delete',\n    user_id: $('When Called').first().json.userID,\n    category: $('When Called').first().json.category,\n    deleted_count: deletedCount,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        208
      ],
      "id": "30eaa5c5-d88f-4c7e-84f0-1bb77124f17a",
      "name": "Response"
    }
  ],
  "pinData": {},
  "connections": {
    "When Called": {
      "main": [
        [
          {
            "node": "Delete Matching Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Matching Content": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "41de9653-9a82-483c-82ed-cc9e704209eb",
  "meta": {
    "instanceId": "009acbaf56d9d6ab6c0c4e58e15e5428df45ae91e46a81964523fc4b2264aced"
  },
  "id": "Sur1f0TnJWL8gMVg",
  "tags": []
}