n8n_workflows/SA_Knowledge_Base_Save.json
{
  "name": "SA_Knowledge_Base_Save",
  "nodes": [
    {
      "parameters": {
        "content": "## SA_Knowledge_Base_Save Workflow\n\nWebhook-triggered workflow for saving user knowledge to Neon Postgres.\nCalled from Agent Settings page (frontend).\n\n### Accepts:\n- type: 'text' → Custom instructions\n- type: 'file' → File URL (already in Supabase Storage)\n\n### Flow:\n1. Receive webhook: { user_id, agent_id, type, content/file_url, category }\n2. Route by type (text vs file)\n3. For files: fetch content from URL\n4. Generate embedding (OpenRouter)\n5. INSERT into user_vector_knowledge_base (Neon)\n6. Return success response\n\n### Table: user_vector_knowledge_base\nColumns: user_id, document, category, embedding, source",
        "height": 584,
        "width": 420,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "b702e07a-41ba-48f2-b031-2b767064a406",
      "name": "Overview"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "save-knowledge",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        480,
        272
      ],
      "id": "f48b0063-58b9-4122-b166-419db09fdadf",
      "name": "Webhook",
      "webhookId": "save-knowledge"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.type }}",
              "value2": "file"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        704,
        272
      ],
      "id": "1ad5972f-4e48-4e8f-8839-fc9e0c969d5e",
      "name": "Route by Type"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        160
      ],
      "id": "7ef9b6de-9eef-4312-acd2-94cd8d510205",
      "name": "Fetch File",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process file content - extract text from fetched file\nconst webhook = $('Webhook').first().json.body;\nconst fileContent = $input.first().json.data || $input.first().json.body || '';\nconst fileName = webhook.file_name || 'uploaded_file';\n\nlet textContent = typeof fileContent === 'string' ? fileContent : JSON.stringify(fileContent);\n\n// Prepare document with metadata\nconst document = `File: ${fileName}\\n\\n${textContent}`;\n\nreturn {\n  json: {\n    user_id: webhook.user_id,\n    agent_id: webhook.agent_id,\n    category: webhook.category || 'documents',\n    document: document,\n    source: 'file_upload'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        160
      ],
      "id": "b2ca36c2-f8d3-4116-b282-ab249f237cf7",
      "name": "Process File Content"
    },
    {
      "parameters": {
        "jsCode": "// Process text content directly\nconst webhook = $('Webhook').first().json.body;\n\nreturn {\n  json: {\n    user_id: webhook.user_id,\n    agent_id: webhook.agent_id,\n    category: webhook.category || 'custom_instructions',\n    document: webhook.content || '',\n    source: 'agent_settings'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        400
      ],
      "id": "26334908-775c-40f4-9b88-a7294cf31bce",
      "name": "Process Text Content"
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1376,
        272
      ],
      "id": "bbc8cc81-3191-4a95-a06a-0eed6a466c2f",
      "name": "Merge Paths"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer OPENROUTER_API_KEY_REDACTED"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "openai/text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $('Merge Paths').item.json.document }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1600,
        272
      ],
      "id": "eb2a6e92-99a9-4a9d-8202-52354aad7b6a",
      "name": "Get Embedding"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.user_vector_knowledge_base (user_id, document, category, embedding, source)\nVALUES (\n  '{{ $('Merge Paths').item.json.user_id }}',\n  '{{ $('Merge Paths').item.json.document.replace(/'/g, \"''\").replace(/\\n/g, ' ') }}',\n  '{{ $('Merge Paths').item.json.category }}',\n  '{{ JSON.stringify($json.data[0].embedding) }}',\n  '{{ $('Merge Paths').item.json.source }}'\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1824,
        272
      ],
      "id": "7a106108-f513-4d8d-8db4-1e8449536fa0",
      "name": "Insert to Neon",
      "credentials": {
        "postgres": {
          "id": "9VZuQcfK90oMX16w",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Merge Paths').first().json;\nconst inserted = $input.first().json;\n\nreturn {\n  json: {\n    success: true,\n    action: 'knowledge_saved',\n    user_id: trigger.user_id,\n    agent_id: trigger.agent_id,\n    category: trigger.category,\n    source: trigger.source,\n    inserted_id: inserted?.id || null,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        272
      ],
      "id": "b4558d59-ce3d-4ea6-857b-f9d3dc1d50c7",
      "name": "Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Fetch File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Text Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch File": {
      "main": [
        [
          {
            "node": "Process File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process File Content": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Text Content": {
      "main": [
        [
          {
            "node": "Merge Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Paths": {
      "main": [
        [
          {
            "node": "Get Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Embedding": {
      "main": [
        [
          {
            "node": "Insert to Neon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Neon": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6723169a-767e-4497-88fc-d7e02ab9bc0d",
  "meta": {
    "instanceId": "009acbaf56d9d6ab6c0c4e58e15e5428df45ae91e46a81964523fc4b2264aced"
  },
  "id": "44ANuNS1PnXTlyIf",
  "tags": []
}
