n8n_workflows/SA_KB_Update.json
{
  "name": "SA_KB_Update",
  "nodes": [
    {
      "parameters": {
        "content": "## SA_KB_Update Workflow\n\nGranular KB update - finds and replaces specific content.\n\n### Table: user_vector_knowledge_base\n\n### Flow:\n1. Search for matching content\n2. Delete only matching rows\n3. Generate embedding\n4. Insert updated content\n\n### Called By:\n- Personal Assistant (Update KB tool)",
        "height": 200,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [32, 32],
      "typeVersion": 1,
      "id": "note-overview",
      "name": "Overview"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "userID", "type": "string" },
            { "name": "category", "type": "string" },
            { "name": "old_content", "type": "string" },
            { "name": "new_content", "type": "string" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [32, 240],
      "id": "trigger",
      "name": "When Called"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.user_vector_knowledge_base \nWHERE user_id = '{{ $json.userID }}'\nAND category = '{{ $json.category }}'\nAND document ILIKE '%' || '{{ $json.old_content }}' || '%'\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [280, 240],
      "id": "delete-matching",
      "name": "Delete Matching Entry",
      "credentials": {
        "postgres": {
          "id": "9VZuQcfK90oMX16w",
          "name": "Neon Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.openAiApi.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-ada-002"
            },
            {
              "name": "input",
              "value": "={{ $('When Called').item.json.new_content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [500, 240],
      "id": "get-embedding",
      "name": "Get Embedding",
      "credentials": {
        "openAiApi": {
          "id": "xeFNBBSMiFQf7cQv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.user_vector_knowledge_base (user_id, document, category, embedding, source)\nVALUES (\n  '{{ $('When Called').item.json.userID }}',\n  '{{ $('When Called').item.json.new_content.replace(/'/g, \"''\") }}',\n  '{{ $('When Called').item.json.category }}',\n  '{{ JSON.stringify($json.data[0].embedding) }}',\n  'update'\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [720, 240],
      "id": "insert-updated",
      "name": "Insert Updated Content",
      "credentials": {
        "postgres": {
          "id": "9VZuQcfK90oMX16w",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    success: true,\n    action: 'kb_update',\n    user_id: $('When Called').first().json.userID,\n    category: $('When Called').first().json.category,\n    old_content: $('When Called').first().json.old_content,\n    new_content: $('When Called').first().json.new_content,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 240],
      "id": "response",
      "name": "Response"
    }
  ],
  "connections": {
    "When Called": {
      "main": [[{ "node": "Delete Matching Entry", "type": "main", "index": 0 }]]
    },
    "Delete Matching Entry": {
      "main": [[{ "node": "Get Embedding", "type": "main", "index": 0 }]]
    },
    "Get Embedding": {
      "main": [[{ "node": "Insert Updated Content", "type": "main", "index": 0 }]]
    },
    "Insert Updated Content": {
      "main": [[{ "node": "Response", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "2.0.0-explicit-columns",
  "meta": { "templateCredsSetupCompleted": true },
  "id": "SA_KB_Update",
  "tags": []
}
