n8n_workflows/SA_Load_Instructions.json
{
  "name": "SA_Load_Instructions",
  "nodes": [
    {
      "parameters": {
        "content": "## SA_Load_Instructions Workflow (DYNAMIC)\n\nAutomatically discovers and loads ALL agent instruction files.\n\n### Triggers:\n- Manual Trigger (for testing)\n- Webhook: POST /webhook/load-instructions\n\n### Dynamic Flow:\n1. Fetch shared/ folder files from GitHub\n2. Fetch agents/ folder to discover all agents\n3. For each agent, fetch their folder files\n4. Build file list: agent files + shared files\n5. Generate embeddings via OpenRouter\n6. Upsert to agent_instructions table\n\n### Rules:\n- All agents get ALL shared files\n- EXCEPT: personal_assistant has own actions files\n  (so PA gets shared MINUS actions_*.md)\n\n### Adding New Agents:\nJust create folder in knowledge_base/agents/\nWorkflow auto-discovers it!",
        "height": 640,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        48
      ],
      "typeVersion": 1,
      "id": "e0a03d13-eb3e-4b2f-b49d-e024f6bd5669",
      "name": "Overview"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        256
      ],
      "id": "67fc17ce-a20d-4cca-9093-90cf5046a8cf",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "load-instructions",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        80,
        432
      ],
      "id": "a11ae5cc-f0f5-4efc-8372-9a57e35f97d6",
      "name": "Webhook Trigger",
      "webhookId": "load-instructions"
    },
    {
      "parameters": {
        "jsCode": "// Config for dynamic discovery\nreturn {\n  json: {\n    rawBaseUrl: 'https://raw.githubusercontent.com/Squidgy-AI/squidgy_updated_ui/main/knowledge_base',\n    apiBaseUrl: 'https://api.github.com/repos/Squidgy-AI/squidgy_updated_ui/contents/knowledge_base',\n    // Agents that have their OWN actions files (don't inherit shared actions)\n    agentsWithOwnActions: ['personal_assistant']\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        256
      ],
      "id": "config-node-001",
      "name": "Config"
    },
    {
      "parameters": {
        "url": "={{ $json.apiBaseUrl }}/shared",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        160
      ],
      "id": "fetch-shared-001",
      "name": "Fetch Shared Folder",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.apiBaseUrl }}/agents",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        352
      ],
      "id": "fetch-agents-001",
      "name": "Fetch Agents Folder",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract shared .md files\nconst config = $('Config').first().json;\nconst sharedFiles = $('Fetch Shared Folder').first().json;\n\nconst files = [];\n\n// Get all .md files from shared folder\nif (Array.isArray(sharedFiles)) {\n  for (const file of sharedFiles) {\n    if (file.name && file.name.endsWith('.md')) {\n      files.push({\n        source_file: file.name,\n        url: `${config.rawBaseUrl}/shared/${file.name}`\n      });\n    }\n  }\n}\n\nreturn { json: { sharedFiles: files, config } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        160
      ],
      "id": "parse-shared-001",
      "name": "Parse Shared Files"
    },
    {
      "parameters": {
        "jsCode": "// Extract agent folder names\nconst agentFolders = $('Fetch Agents Folder').first().json;\n\nconst agents = [];\n\nif (Array.isArray(agentFolders)) {\n  for (const folder of agentFolders) {\n    if (folder.type === 'dir' && folder.name) {\n      agents.push({ agent_id: folder.name });\n    }\n  }\n}\n\nreturn agents.map(a => ({ json: a }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        352
      ],
      "id": "parse-agents-001",
      "name": "Parse Agent Folders"
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.apiBaseUrl }}/agents/{{ $json.agent_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        352
      ],
      "id": "fetch-agent-files-001",
      "name": "Fetch Agent Files",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Build complete file list for this agent\nconst config = $('Config').first().json;\nconst sharedData = $('Parse Shared Files').first().json;\nconst agentId = $('Parse Agent Folders').item.json.agent_id;\nconst agentFiles = $input.first().json;\n\nconst files = [];\n\n// 1. Add agent's own files\nif (Array.isArray(agentFiles)) {\n  for (const file of agentFiles) {\n    if (file.name && file.name.endsWith('.md')) {\n      files.push({\n        agent_id: agentId,\n        source_file: file.name,\n        url: `${config.rawBaseUrl}/agents/${agentId}/${file.name}`\n      });\n    }\n  }\n}\n\n// 2. Add shared files\n// Check if this agent has its own actions files\nconst hasOwnActions = config.agentsWithOwnActions.includes(agentId);\nconst agentOwnFiles = files.map(f => f.source_file);\n\nfor (const sharedFile of sharedData.sharedFiles) {\n  // Skip shared actions if agent has own actions\n  if (hasOwnActions && (sharedFile.source_file === 'actions_performed.md' || sharedFile.source_file === 'actions_todo.md')) {\n    continue;\n  }\n  \n  // Skip if agent already has this file (own version takes precedence)\n  if (agentOwnFiles.includes(sharedFile.source_file)) {\n    continue;\n  }\n  \n  files.push({\n    agent_id: agentId,\n    source_file: sharedFile.source_file,\n    url: sharedFile.url\n  });\n}\n\n// Also add shared files with agent_id='shared' for reference\nconst sharedRefFiles = sharedData.sharedFiles.map(f => ({\n  agent_id: 'shared',\n  source_file: f.source_file,\n  url: f.url\n}));\n\nreturn [...files, ...sharedRefFiles].map(f => ({ json: f }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        352
      ],
      "id": "build-file-list-001",
      "name": "Build File List"
    },
    {
      "parameters": {
        "jsCode": "// Deduplicate: shared files only need to be added once\nconst allItems = $input.all();\nconst seen = new Set();\nconst unique = [];\n\nfor (const item of allItems) {\n  const key = `${item.json.agent_id}|${item.json.source_file}`;\n  if (!seen.has(key)) {\n    seen.add(key);\n    unique.push(item);\n  }\n}\n\nreturn unique;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        352
      ],
      "id": "dedupe-001",
      "name": "Deduplicate Files"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1648,
        352
      ],
      "id": "e2f7aa71-7ff0-4aaf-9a5c-c836e4c1ecfe",
      "name": "Fetch File Content",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prevData = $('Deduplicate Files').item.json;\n\n// Get the document content\nconst document = typeof input === 'string' ? input : (input.data || input.body || JSON.stringify(input));\n\nreturn {\n  json: {\n    agent_id: prevData.agent_id,\n    source_file: prevData.source_file,\n    document: document\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        352
      ],
      "id": "da847e63-ff1d-4b74-9f29-c30314b07a62",
      "name": "Prepare Document"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "openai/text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $json.document }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2096,
        352
      ],
      "id": "6800039e-2e2d-4442-9fe2-b2c38f0b70a7",
      "name": "Generate Embedding (OpenRouter)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Delete existing entry if exists\nDELETE FROM public.agent_instructions\nWHERE agent_id = '{{ $('Prepare Document').item.json.agent_id }}'\n  AND source_file = '{{ $('Prepare Document').item.json.source_file }}';\n\n-- Insert new entry\nINSERT INTO public.agent_instructions (agent_id, source_file, document, embedding)\nVALUES (\n  '{{ $('Prepare Document').item.json.agent_id }}',\n  '{{ $('Prepare Document').item.json.source_file }}',\n  '{{ $('Prepare Document').item.json.document.replace(/'/g, \"''\").replace(/\\n/g, ' ') }}',\n  '{{ JSON.stringify($json.data[0].embedding) }}'\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2320,
        352
      ],
      "id": "5f0acf6b-901c-4788-9578-d01eaff46ad1",
      "name": "Upsert Instruction",
      "credentials": {
        "postgres": {
          "id": "9VZuQcfK90oMX16w",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Count by agent\nconst agentCounts = {};\nfor (const item of items) {\n  const agentId = item.json?.agent_id || 'unknown';\n  agentCounts[agentId] = (agentCounts[agentId] || 0) + 1;\n}\n\nreturn {\n  json: {\n    success: true,\n    total_files_processed: items.length,\n    by_agent: agentCounts,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2544,
        352
      ],
      "id": "4032335d-2db2-40d0-90c4-0680136cc9ce",
      "name": "Summary"
    }
  ],
  "pinData": {
    "Manual Trigger": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Fetch Shared Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Agents Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Shared Folder": {
      "main": [
        [
          {
            "node": "Parse Shared Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Agents Folder": {
      "main": [
        [
          {
            "node": "Parse Agent Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Shared Files": {
      "main": [
        [
          {
            "node": "Fetch Agent Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Folders": {
      "main": [
        [
          {
            "node": "Fetch Agent Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Agent Files": {
      "main": [
        [
          {
            "node": "Build File List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build File List": {
      "main": [
        [
          {
            "node": "Deduplicate Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Files": {
      "main": [
        [
          {
            "node": "Fetch File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch File Content": {
      "main": [
        [
          {
            "node": "Prepare Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Document": {
      "main": [
        [
          {
            "node": "Generate Embedding (OpenRouter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding (OpenRouter)": {
      "main": [
        [
          {
            "node": "Upsert Instruction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Instruction": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dynamic-v1",
  "meta": {
    "instanceId": "009acbaf56d9d6ab6c0c4e58e15e5428df45ae91e46a81964523fc4b2264aced"
  },
  "id": "6D4gmDewnGmHswb9",
  "tags": []
}
