n8n_workflows/SA_Personal_Assistant.json
{
  "name": "SA_Personal_Assistant",
  "nodes": [
    {
      "parameters": {
        "content": "# Personal Assistant - Master Agent\n\n## Flow:\n1. Webhook receives request\n2. Load CORE instructions (security_rules + instructions.md)\n3. RAG search for CONTEXTUAL instructions based on user query\n4. Get AGENT config + USER PROFILE from Supabase (parallel)\n5. Pre-process request (combine all data)\n6. AI Agent decides: ANSWER, REDIRECT, ONBOARD, or CLARIFY\n7. Build response\n8. Return to webhook\n\n## Instruction Loading (Hybrid):\n- ALWAYS: security_rules.md, instructions.md (Tier 1)\n- RAG: button_patterns, response_format, content_previews, actions_* (Tier 2)\n\n## User Settings Reuse (from profiles):\n- First agent: Collect all → Save to profiles via tool\n- 2nd+ agent: Show existing → Offer reuse or customize",
        "height": 600,
        "width": 576,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2464,
        80
      ],
      "typeVersion": 1,
      "id": "f0889c44-dfcb-4c8b-aa55-8f34159cc8e3",
      "name": "Overview"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "personal_assistant_new",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1840,
        496
      ],
      "id": "69c59212-5ea7-4679-9773-25d2578236c3",
      "name": "PA Webhook",
      "webhookId": "personal-assistant-main"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- TIER 1: Always loaded (core instructions)\nSELECT document, source_file FROM public.agent_instructions\nWHERE agent_id = 'personal_assistant'\n  AND source_file IN ('security_rules.md', 'instructions.md')\nORDER BY source_file;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1616,
        496
      ],
      "id": "eaa719f1-9c5d-42d6-858c-706107fdef83",
      "name": "Load Core Instructions",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "9VZuQcfK90oMX16w",
          "name": "Neon Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- TIER 2: Contextual instructions (keyword-based retrieval)\n-- Always includes button_patterns.md + relevant docs based on user message\nSELECT document, source_file, relevance_score FROM (\n  -- Always include button_patterns (most responses need buttons)\n  SELECT document, source_file, 100 as relevance_score\n  FROM public.agent_instructions\n  WHERE agent_id = 'personal_assistant' AND source_file = 'button_patterns.md'\n  \n  UNION ALL\n  \n  -- Include response_format if redirect/routing/format keywords\n  SELECT document, source_file, 80 as relevance_score\n  FROM public.agent_instructions\n  WHERE agent_id = 'personal_assistant' \n    AND source_file = 'response_format.md'\n    AND LOWER('{{ $('PA Webhook').item.json.body.user_mssg }}') ~ '(redirect|route|format|json|enable|setup|agent)'\n  \n  UNION ALL\n  \n  -- Include content_previews if content generation keywords\n  SELECT document, source_file, 70 as relevance_score\n  FROM public.agent_instructions\n  WHERE agent_id = 'personal_assistant'\n    AND source_file = 'content_previews.md'\n    AND LOWER('{{ $('PA Webhook').item.json.body.user_mssg }}') ~ '(preview|draft|newsletter|content|create|generate|show)'\n  \n  UNION ALL\n  \n  -- Include actions tracking if action keywords\n  SELECT document, source_file, 60 as relevance_score\n  FROM public.agent_instructions\n  WHERE agent_id = 'personal_assistant'\n    AND source_file IN ('actions_performed.md', 'actions_todo.md')\n    AND LOWER('{{ $('PA Webhook').item.json.body.user_mssg }}') ~ '(done|completed|saved|next|pending|step|progress)'\n) matched_docs\nORDER BY relevance_score DESC\nLIMIT 2;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1616,
        688
      ],
      "id": "3e3251fc-5d6d-478c-b4a2-0ca97a101613",
      "name": "Load Contextual Instructions (RAG)",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "9VZuQcfK90oMX16w",
          "name": "Neon Postgres"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "vw_personal_assistant_config_llm",
        "filters": {
          "conditions": [
            {
              "keyName": "agent",
              "keyValue": "personal_assistant"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $('PA Webhook').item.json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1392,
        496
      ],
      "id": "a0b35213-5c12-4fd1-864f-43dea4b1dfaa",
      "name": "Get Agent Config",
      "credentials": {
        "supabaseApi": {
          "id": "uk8y8Aw346FSXNbw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pre-process: Combine data for AI Agent\nconst webhook = $('PA Webhook').first().json;\nconst coreInstructions = $('Load Core Instructions').all();\nconst contextualInstructions = $('Load Contextual Instructions (RAG)').all();\nconst config = $('Get Agent Config').first().json || {};\n\n// TIER 1: Core instructions (always loaded)\nlet coreSection = '## CORE INSTRUCTIONS (Always Active)\\n\\n';\nfor (const item of coreInstructions) {\n  const doc = item.json;\n  if (doc.document) {\n    coreSection += `### ${doc.source_file}\\n\\n${doc.document}\\n\\n---\\n\\n`;\n  }\n}\n\n// TIER 2: Contextual instructions (RAG retrieved based on relevance)\nlet contextSection = '';\nif (contextualInstructions.length > 0) {\n  contextSection = '## CONTEXTUAL INSTRUCTIONS (Retrieved for this query)\\n\\n';\n  for (const item of contextualInstructions) {\n    const doc = item.json;\n    if (doc.document) {\n      const similarity = doc.similarity ? ` (relevance: ${(doc.similarity * 100).toFixed(0)}%)` : '';\n      contextSection += `### ${doc.source_file}${similarity}\\n\\n${doc.document}\\n\\n---\\n\\n`;\n    }\n  }\n}\n\nconst combinedInstructions = coreSection + contextSection;\n\nconst body = webhook.body || {};\nconst userId = body.user_id;\nconst sessionId = body.session_id;\nconst userMessage = body.user_mssg?.trim() || '';\nconst agentName = body.agent_name || 'personal_assistant';\nconst requestId = body.request_id || crypto.randomUUID();\n\nreturn {\n  json: {\n    user_id: userId,\n    session_id: sessionId,\n    user_mssg: userMessage,\n    agent_name: agentName,\n    request_id: requestId,\n    timestamp: new Date().toISOString(),\n    instructions: combinedInstructions || 'No instructions found.',\n    enabled_agents: config.enabled_agents || '',\n    assistants: config.assistants || '',\n    agent_department_value: config.agent_department_value || ''\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        496
      ],
      "id": "06bd8d4b-62be-4def-992e-a739392336ad",
      "name": "Pre-Process"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "openai/gpt-4o"
        },
        "options": {
          "baseURL": "https://openrouter.ai/api/v1"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1040,
        720
      ],
      "id": "b35bc671-bd2c-4f07-ac98-3f91037b25da",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "openrouter-cred",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Pre-Process').item.json.session_id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -880,
        720
      ],
      "id": "c01cddf7-12f8-47af-829e-0b730b36d7a5",
      "name": "Session Memory"
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {
          "baseURL": "https://openrouter.ai/api/v1"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -720,
        944
      ],
      "id": "90a06847-7b17-482e-971d-478900b53ef3",
      "name": "OpenRouter Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "openrouter-cred",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the Knowledge Base for information about the user's business. Use this to answer questions about company details, contacts, products, services, etc. Query with natural language.",
        "tableName": "user_vector_knowledge_base",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "user_id",
                "value": "={{ $('Pre-Process').item.json.user_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -720,
        720
      ],
      "id": "71bf2c71-779f-4d90-a4be-9cdc9e41ae43",
      "name": "Vector Search (RAG)",
      "credentials": {
        "postgres": {
          "id": "9VZuQcfK90oMX16w",
          "name": "Neon Postgres"
        }
      }
    },
    {
      "parameters": {
        "description": "Save information to the Knowledge Base. Use when user provides business information, wants to update details, or asks you to remember something.\n\nCategories:\n- company_overview\n- icp_target_audience\n- branding_identity\n- messaging_positioning\n- product_services\n- sales_process\n- marketing_channels\n- development_technical\n- operations_workflows\n- contacts_stakeholders\n- customer_success\n- competitive_landscape",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "SA_RAG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userID": "={{ $('Pre-Process').item.json.user_id }}",
            "category": "={{ $fromAI('category', 'The KB category to save to (e.g., company_overview, contacts_stakeholders)', 'string') }}",
            "query": "={{ $fromAI('query', 'The information to save, formatted clearly', 'string') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -480,
        832
      ],
      "id": "90a2f521-37c5-448c-b3ac-339e8b7397d1",
      "name": "Save to KB"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "user_agent_customizations",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('Pre-Process').item.json.user_id }}"
            },
            {
              "keyName": "agent_id",
              "keyValue": "={{ $fromAI('agent_id', 'The agent ID to get setup for (e.g., newsletter_multi, content_repurposer, SOL)', 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -240,
        720
      ],
      "id": "02263bed-612a-494c-b479-743f2f26fd1b",
      "name": "Get Agent Setup",
      "credentials": {
        "supabaseApi": {
          "id": "uk8y8Aw346FSXNbw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Analyze a website URL to extract company information. Use when user provides their website URL. Returns company details, products, brand voice, etc.",
        "method": "POST",
        "url": "https://squidgy-backend-00f664bf1f3d.herokuapp.com/api/website/analysis_complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $fromAI('url', 'The website URL to analyze', 'string') }}"
            },
            {
              "name": "firm_user_id",
              "value": "={{ $('Pre-Process').item.json.user_id }}"
            },
            {
              "name": "agent_id",
              "value": "personal_assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -400,
        720
      ],
      "id": "bfbd192c-70de-4718-a0a8-f079ddd4819c",
      "name": "Web Analysis"
    },
    {
      "parameters": {
        "description": "Update specific information in the Knowledge Base. Use when user corrects or updates existing information (e.g., 'Actually I live in India, not Pakistan'). This does a granular update, not replacing the whole category.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "SA_KB_Update"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userID": "={{ $('Pre-Process').item.json.user_id }}",
            "category": "={{ $fromAI('category', 'The KB category (e.g., company, contacts)', 'string') }}",
            "old_content": "={{ $fromAI('old_content', 'The incorrect/outdated information to find and replace', 'string') }}",
            "new_content": "={{ $fromAI('new_content', 'The corrected/updated information', 'string') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -80,
        720
      ],
      "id": "fd7746da-2767-4eb1-9b45-69367e52f038",
      "name": "Update KB"
    },
    {
      "parameters": {
        "description": "Delete specific information from the Knowledge Base. Use when user wants to remove outdated or incorrect information completely.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "SA_KB_Delete"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userID": "={{ $('Pre-Process').item.json.user_id }}",
            "category": "={{ $fromAI('category', 'The KB category (e.g., company, products)', 'string') }}",
            "content_to_delete": "={{ $fromAI('content_to_delete', 'The information to find and delete', 'string') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        96,
        720
      ],
      "id": "f9fcd7eb-63b0-4d2b-92f5-6661a4c73248",
      "name": "Delete from KB"
    },
    {
      "parameters": {
        "description": "Upload and process a file to store in the Knowledge Base. Supports .txt, .md, .json files. Use when user uploads or shares a file URL.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "SA_File_Upload"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userID": "={{ $('Pre-Process').item.json.user_id }}",
            "file_url": "={{ $fromAI('file_url', 'The URL of the file to upload', 'string') }}",
            "file_name": "={{ $fromAI('file_name', 'The name of the file', 'string') }}",
            "file_type": "={{ $fromAI('file_type', 'The file type (txt, md, json, pdf)', 'string') }}",
            "category": "={{ $fromAI('category', 'The KB category to store under (e.g., documents, company)', 'string') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        256,
        720
      ],
      "id": "81852136-f59d-44b7-b05c-bb01825cc52e",
      "name": "Upload File"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "profiles",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldValue": "={{ $('Pre-Process').item.json.user_id }}"
            },
            {
              "fieldValue": "={{ $fromAI('brand_voice', 'The selected brand voice (e.g., Professional and authoritative)', 'string') }}"
            },
            {
              "fieldValue": "={{ $fromAI('target_audience', 'The target audience description', 'string') }}"
            },
            {
              "fieldValue": "={{ $fromAI('primary_goals', 'Array of primary goals (e.g., [\"Lead generation\", \"Thought leadership\"])', 'json') }}"
            },
            {
              "fieldValue": "={{ $fromAI('calendar_type', 'Calendar connection type: google, outlook, or skip', 'string') }}"
            },
            {
              "fieldValue": "={{ $fromAI('notifications_enabled', 'Enable notifications (true or false)', 'boolean') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        416,
        720
      ],
      "id": "1ee86c94-5fed-4466-8361-66ebeb245b90",
      "name": "Save User Settings",
      "credentials": {
        "supabaseApi": {
          "id": "uk8y8Aw346FSXNbw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        576,
        720
      ],
      "id": "6c370cfe-e020-4f13-b316-73dd0807152d",
      "name": "Enable Agent",
      "credentials": {
        "supabaseApi": {
          "id": "uk8y8Aw346FSXNbw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Pre-Process').item.json.user_mssg }}",
        "options": {
          "systemMessage": "={{ $('Pre-Process').item.json.instructions }}\n\n---\n\n## AGENT/SYSTEM CONFIG:\n\n### Enabled Agents:\n{{ $('Pre-Process').item.json.enabled_agents }}\n\n### Available Assistants:\n{{ $('Pre-Process').item.json.assistants }}\n\n### Agent ID Mapping:\n{{ $('Pre-Process').item.json.agent_department_value }}\n\n### User Settings (for agent onboarding reuse):\n{{ $('Pre-Process').item.json.user_settings ? JSON.stringify($('Pre-Process').item.json.user_settings, null, 2) : 'NOT SET - This is a first-time agent setup. Collect all settings and include user_settings in your response.' }}\n\n---\n\n## TOOLS:\n\n### Knowledge Base Tools:\n- **Vector Search** - Find info from KB (categories: website, branding, company, products, contacts, social_media, sales, marketing, operations, competitive)\n- **Save to KB** - Store NEW information\n- **Update KB** - Correct/update EXISTING info (granular, not whole category)\n- **Delete from KB** - Remove specific entry\n- **Upload File** - Process file (.txt, .md, .json) and store in KB\n\n### Agent Setup Tools:\n- **Save User Settings** - Save to profiles table (FIRST agent only: brand_voice, target_audience, etc.)\n- **Enable Agent** - Create entry in assistant_personalizations (EVERY agent: inserts with communication_tone)\n\n### Other Tools:\n- **Web Analysis** - Scrape and analyze website URL\n- **Get Agent Setup** - Check agent config before redirect/onboarding"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -960,
        496
      ],
      "id": "de0a4474-7a23-457b-bde5-f3b8d72078bd",
      "name": "PA AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Response Builder: Format AI output for webhook response\nconst preProcess = $('Pre-Process').first().json;\nconst aiOutput = $input.first().json.output || $input.first().json.text || '';\n\n// Initialize all possible fields\nlet message = aiOutput;\nlet routing = null;\nlet finished = false;\nlet agentData = null;\nlet actionsPerformed = [];\nlet actionsTodo = [];\nlet preview = null;\nlet userSettings = null;\nlet reusedSettings = false;\n\ntry {\n  // Check if output is JSON\n  if (aiOutput.trim().startsWith('{')) {\n    const parsedOutput = JSON.parse(aiOutput);\n    \n    // Core fields\n    message = parsedOutput.message || parsedOutput.response || aiOutput;\n    routing = parsedOutput.routing || null;\n    finished = parsedOutput.finished || false;\n    agentData = parsedOutput.agent_data || null;\n    \n    // Actions tracking\n    actionsPerformed = parsedOutput.actions_performed || [];\n    actionsTodo = parsedOutput.actions_todo || [];\n    \n    // Content preview\n    preview = parsedOutput.preview || null;\n    \n    // User settings (for first agent setup)\n    userSettings = parsedOutput.user_settings || null;\n    reusedSettings = parsedOutput.reused_settings || false;\n  }\n} catch (e) {\n  // Not JSON, use as plain text\n  message = aiOutput;\n}\n\n// Build standardized response\nconst response = {\n  // Request tracking\n  user_id: preProcess.user_id,\n  session_id: preProcess.session_id,\n  agent_name: preProcess.agent_name,\n  timestamp_of_call_made: preProcess.timestamp,\n  request_id: preProcess.request_id,\n  \n  // Main response\n  agent_response: message,\n  \n  // Actions tracking (always include, even if empty)\n  actions_performed: actionsPerformed,\n  actions_todo: actionsTodo\n};\n\n// Add routing if present (for redirects)\nif (routing) {\n  response.routing = routing;\n}\n\n// Add preview if present (for content display)\nif (preview) {\n  response.preview = preview;\n}\n\n// Add agent_data if present (for onboarding completion)\nif (finished) {\n  response.finished = finished;\n  if (agentData) {\n    response.agent_data = agentData;\n  }\n}\n\n// Add user_settings if present (for first agent setup - backend will save)\nif (userSettings) {\n  response.user_settings = userSettings;\n}\n\n// Add reused_settings flag if agent reused existing settings\nif (reusedSettings) {\n  response.reused_settings = true;\n}\n\nreturn { json: response };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        496
      ],
      "id": "a6b355c1-9359-44d0-885d-9491b304edad",
      "name": "Response Builder"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -416,
        496
      ],
      "id": "4d572d25-f20d-42b8-b46a-5ca93aee0721",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## Tools Available to AI Agent\n\n### KB Tools:\n1. **Vector Search** - Find data from KB\n2. **Save to KB** - Store new info\n3. **Update KB** - Granular update\n4. **Delete from KB** - Remove specific entry\n5. **Upload File** - Process & store files\n\n### Agent Setup Tools:\n6. **Save User Settings** - profiles table (FIRST agent)\n7. **Enable Agent** - assistant_personalizations (EVERY agent)\n\n### Other Tools:\n8. **Web Analysis** - Analyze website\n9. **Get Agent Setup** - Check agent config\n\n## Two-Tier Settings:\n- User-level: profiles table\n- Agent-level: assistant_personalizations table",
        "height": 556,
        "width": 492,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        1136
      ],
      "typeVersion": 1,
      "id": "e9cfaf79-e276-4261-b81b-1aa07fb1457b",
      "name": "Tools Note"
    }
  ],
  "pinData": {
    "PA Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.theaiteam.uk",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36",
            "content-length": "286",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "content-type": "application/json",
            "origin": "https://app.squidgy.ai",
            "priority": "u=1, i",
            "referer": "https://app.squidgy.ai/",
            "sec-ch-ua": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Google Chrome\";v=\"144\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "49.37.150.84",
            "x-forwarded-host": "n8n.theaiteam.uk",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "user_id": "3bd4d2b1-6265-4e3c-90c4-c1fcbc813f08",
            "user_mssg": "Hello",
            "session_id": "3bd4d2b1-6265-4e3c-90c4-c1fcbc813f08_personal_assistant_1769329713047_is1rhbv0ci",
            "agent_name": "personal_assistant",
            "timestamp_of_call_made": "2026-01-25T08:32:08.134Z",
            "request_id": "1769329927837-3793"
          },
          "webhookUrl": "https://n8n.theaiteam.uk/webhook/personal_assistant_new",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "PA Webhook": {
      "main": [
        [
          {
            "node": "Load Core Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Core Instructions": {
      "main": [
        [
          {
            "node": "Load Contextual Instructions (RAG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Contextual Instructions (RAG)": {
      "main": [
        [
          {
            "node": "Get Agent Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Agent Config": {
      "main": [
        [
          {
            "node": "Pre-Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pre-Process": {
      "main": [
        [
          {
            "node": "PA AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "PA AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Session Memory": {
      "ai_memory": [
        [
          {
            "node": "PA AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Vector Search (RAG)": {
      "ai_tool": [
        [
          {
            "node": "PA AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Save to KB": {
      "ai_tool": [
        [
          {
            "node": "PA AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Analysis": {
      "ai_tool": [
        [
          {
            "node": "PA AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Agent Setup": {
      "ai_tool": [
        [
          {
            "node": "PA AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update KB": {
      "ai_tool": [
        [
          {
            "node": "PA AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete from KB": {
      "ai_tool": [
        [
          {
            "node": "PA AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload File": {
      "ai_tool": [
        [
          {
            "node": "PA AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Save User Settings": {
      "ai_tool": [
        [
          {
            "node": "PA AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enable Agent": {
      "ai_tool": [
        [
          {
            "node": "PA AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PA AI Agent": {
      "main": [
        [
          {
            "node": "Response Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Builder": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Vector Search (RAG)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1cb9986c-5a2f-4a5b-8959-bf24203fd71d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "009acbaf56d9d6ab6c0c4e58e15e5428df45ae91e46a81964523fc4b2264aced"
  },
  "id": "oRu1jpN8YvXEsNFn",
  "tags": []
}